In [1]:
from bs4 import BeautifulSoup
import requests

In [12]:
# 실습 1. 네이버 주가 크롤링

res = requests.get("https://finance.naver.com/sise/sise_quant.nhn")
soup = BeautifulSoup(res.text, 'html.parser')

In [ ]:
soup.select('tr')[0]

<tr>
<td class="choice"><input checked="" id="option1" name="fieldIds" type="checkbox" value="quant"/> <label for="option1">거래량</label></td>
<td class="choice"><input checked="" id="option2" name="fieldIds" type="checkbox" value="ask_buy"/> <label for="option2">매수호가</label></td>
<td class="choice"><input checked="" id="option3" name="fieldIds" type="checkbox" value="amount"/> <label for="option3">거래대금</label>(백만)</td>
<td class="choice"><input checked="" id="option4" name="fieldIds" type="checkbox" value="market_sum"/> <label for="option4">시가총액</label>(억)</td>
<td><input id="option5" name="fieldIds" type="checkbox" value="operating_profit"/> <label for="option5">영업이익</label>(억)</td>
<td class="choice"><input checked="" id="option6" name="fieldIds" type="checkbox" value="per"/> <label for="option6">PER</label>(배)</td>
</tr>

In [28]:
soup.select('td')

[<td class="choice"><input checked="" id="option1" name="fieldIds" type="checkbox" value="quant"/> <label for="option1">거래량</label></td>,
 <td class="choice"><input checked="" id="option2" name="fieldIds" type="checkbox" value="ask_buy"/> <label for="option2">매수호가</label></td>,
 <td class="choice"><input checked="" id="option3" name="fieldIds" type="checkbox" value="amount"/> <label for="option3">거래대금</label>(백만)</td>,
 <td class="choice"><input checked="" id="option4" name="fieldIds" type="checkbox" value="market_sum"/> <label for="option4">시가총액</label>(억)</td>,
 <td><input id="option5" name="fieldIds" type="checkbox" value="operating_profit"/> <label for="option5">영업이익</label>(억)</td>,
 <td class="choice"><input checked="" id="option6" name="fieldIds" type="checkbox" value="per"/> <label for="option6">PER</label>(배)</td>,
 <td><input id="option7" name="fieldIds" type="checkbox" value="open_val"/> <label for="option7">시가</label></td>,
 <td class="choice"><input checked="" id="option8" name="fieldIds" type="checkbox" value="ask_sell"/> <label for="option8">매도호가</label></td>,
 <td><input id="option9" name="fieldIds" type="checkbox" value="prev_quant"/> <label for="option9">전일거래량</label></td>,
 <td><input id="option10" name="fieldIds" type="checkbox" value="property_total"/> <label for="option10">자산총계</label>(억)</td>,
 <td><input id="option11" name="fieldIds" type="checkbox" value="operating_profit_increasing_rate"/> <label for="option11">영업이익증가율</label></td>,
 <td class="choice"><input checked="" id="option12" name="fieldIds" type="checkbox" value="roe"/> <label for="option12">ROE</label>(%)</td>,
 <td><input id="option13" name="fieldIds" type="checkbox" value="high_val"/> <label for="option13">고가</label></td>,
 <td><input id="option14" name="fieldIds" type="checkbox" value="buy_total"/> <label for="option14">매수총잔량</label></td>,
 <td><input id="option15" name="fieldIds" type="checkbox" value="frgn_rate"/> <label for="option15">외국인비율</label></td>,
 <td><input id="option16" name="fieldIds" type="checkbox" value="debt_total"/> <label for="option16">부채총계</label>(억)</td>,
 <td><input id="option17" name="fieldIds" type="checkbox" value="net_income"/> <label for="option17">당기순이익</label>(억)</td>,
 <td><input id="option18" name="fieldIds" type="checkbox" value="roa"/> <label for="option18">ROA</label>(%)</td>,
 <td><input id="option19" name="fieldIds" type="checkbox" value="low_val"/> <label for="option19">저가</label></td>,
 <td><input id="option20" name="fieldIds" type="checkbox" value="sell_total"/> <label for="option20">매도총잔량</label></td>,
 <td><input id="option21" name="fieldIds" type="checkbox" value="listed_stock_cnt"/> <label for="option21">상장주식수</label>(천주)</td>,
 <td><input id="option22" name="fieldIds" type="checkbox" value="sales"/> <label for="option22">매출액</label>(억)</td>,
 <td><input id="option23" name="fieldIds" type="checkbox" value="eps"/> <label for="option23">주당순이익</label>(원)</td>,
 <td><input id="option24" name="fieldIds" type="checkbox" value="pbr"/> <label for="option24">PBR</label>(배)</td>,
 <td> </td>,
 <td> </td>,
 <td> </td>,
 <td><input id="option25" name="fieldIds" type="checkbox" value="sales_increasing_rate"/> <label for="option25">매출액증가율</label></td>,
 <td><input id="option26" name="fieldIds" type="checkbox" value="dividend"/> <label for="option26">보통주배당금</label>(원)</td>,
 <td><input id="option27" name="fieldIds" type="checkbox" value="reserve_ratio"/> <label for="option27">유보율</label>(%)</td>,
 <td class="blank_08" colspan="10"></td>,
 <td class="no">1</td>,
 <td><a class="tltle" href="/item/main.naver?code=252670">KODEX 200선물인버스2X</a></td>,
 <td class="number">1,380</td>,
 <td class="number">
 <em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
 				45
 				</span>
 </td>,
 <td class="number">
 <span class="tah p11 nv01">
 				-3.16%
 				</span>
 </td>,
 <td class="number">362,141,880</td>,
 <td class="number">504,465</td>,
 <td class="number">1,380</td>,
 <td class="number">1,381</td>,
 <td class="number">13,863</td>,
 <td class="number">N/A</td>,
 <td class="number">N/A</td>,
 <td class="no">2</td>,
 <td><a class="tltle" href="/item/main.naver?code=462330">KODEX 2차전지산업레버리지</a></td>,
 <td class="number">990</td>,
 <td class="number">
 <em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
 				96
 				</span>
 </td>,
 <td class="number">
 <span class="tah p11 red01">
 				+10.74%
 				</span>
 </td>,
 <td class="number">49,582,923</td>,
 <td class="number">47,717</td>,
 <td class="number">988</td>,
 <td class="number">990</td>,
 <td class="number">2,711</td>,
 <td class="number">N/A</td>,
 <td class="number">N/A</td>,
 <td class="no">3</td>,
 <td><a class="tltle" href="/item/main.naver?code=008970">동양철관</a></td>,
 <td class="number">1,532</td>,
 <td class="number">
 <em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
 				112
 				</span>
 </td>,
 <td class="number">
 <span class="tah p11 nv01">
 				-6.81%
 				</span>
 </td>,
 <td class="number">45,589,364</td>,
 <td class="number">73,920</td>,
 <td class="number">1,531</td>,
 <td class="number">1,532</td>,
 <td class="number">2,448</td>,
 <td class="number">-10.57</td>,
 <td class="number">-20.13</td>,
 <td class="no">4</td>,
 <td><a class="tltle" href="/item/main.naver?code=005320">온타이드</a></td>,
 <td class="number">674</td>,
 <td class="number">
 <em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
 				11
 				</span>
 </td>,
 <td class="number">
 <span class="tah p11 red01">
 				+1.66%
 				</span>
 </td>,
 <td class="number">35,169,753</td>,
 <td class="number">27,445</td>,
 <td class="number">673</td>,
 <td class="number">674</td>,
 <td class="number">455</td>,
 <td class="number">56.17</td>,
 <td class="number">-3.35</td>,
 <td class="no">5</td>,
 <td><a class="tltle" href="/item/main.naver?code=005930">삼성전자</a></td>,
 <td class="number">63,800</td>,
 <td class="number">
 <em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
 				3,000
 				</span>
 </td>,
 <td class="number">
 <span class="tah p11 red01">
 				+4.93%
 				</span>
 </td>,
 <td class="number">31,792,165</td>,
 <td class="number">1,990,967</td>,
 <td class="number">63,700</td>,
 <td class="number">63,800</td>,
 <td class="number">3,776,729</td>,
 <td class="number">12.36</td>,
 <td class="number">9.03</td>,
 <td class="blank_06" colspan="12"></td>,
 <td class="division_line" colspan="12"></td>,
 <td class="blank_08" colspan="12"></td>,
 <td class="no">6</td>,
 <td><a class="tltle" href="/item/main.naver?code=114800">KODEX 인버스</a></td>,
 <td class="number">3,570</td>,
 <td class="number">
 <em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
 				65
 				</span>
 </td>,
 <td class="number">
 <span class="tah p11 nv01">
 				-1.79%
 				</span>
 </td>,
 <td class="number">30,908,865</td>,
 <td class="number">110,943</td>,
 <td class="number">3,570</td>,
 <td class="number">3,575</td>,
 <td class="number">6,508</td>,
 <td class="number">N/A</td>,
 <td class="number">N/A</td>,
 <td class="no">7</td>,
 <td><a class="tltle" href="/item/main.naver?code=233740">KODEX 코스닥150레버리지</a></td>,
 <td class="number">8,335</td>,
 <td class="number">
 <em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
 				275
 				</span>
 </td>,
 <td class="number">
 <span class="tah p11 red01">
 				+3.41%
 				</span>
 </td>,
 <td class="number">28,292,829</td>,
 <td class="number">232,868</td>,
 <td class="number">8,335</td>,
 <td class="number">8,340</td>,
 <td class="number">19,746</td>,
 <td class="number">N/A</td>,
 <td class="number">N/A</td>,
 <td class="no">8</td>,
 <td><a class="tltle" href="/item/main.naver?code=122630">KODEX 레버리지</a></td>,
 <td class="number">23,835</td>,
 <td class="number">
 <em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
 				715
 				</span>
 </td>,
 <td class="number">
 <span class="tah p11 red01">
 				+3.09%
 				</span>
 </td>,
 <td class="number">25,755,037</td>,
 <td class="number">608,284</td>,
 <td class="number">23,830</td>,
 <td class="number">23,835</td>,
 <td class="number">25,444</td>,
 <td class="number">N/A</td>,
 <td class="number">N/A</td>,
 <td class="no">9</td>,
 <td><a class="tltle" href="/item/main.naver?code=009070">KCTC</a></td>,
 <td class="number">6,250</td>,
 <td class="number">
 <em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
 				770
 				</span>
 </td>,
 <td class="number">
 <span class="tah p11 red01">
 				+14.05%
 				</span>
 </td>,
 <td class="number">24,282,307</td>,
 <td class="number">152,088</td>,
 <td class="number">6,250</td>,
 <td class="number">6,260</td>,
 <td class="number">1,875</td>,
 <td class="number">8.94</td>,
 <td class="number">9.06</td>,
 <td class="no">10</td>,
 <td><a class="tltle" href="/item/main.naver?code=251340">KODEX 코스닥150선물인버스</a></td>,
 <td class="number">3,570</td>,
 <td class="number">
 <em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
 				60
 				</span>
 </td>,
 <td class="number">
 <span class="tah p11 nv01">
 				-1.65%
 				</span>
 </td>,
 <td class="number">21,214,805</td>,
 <td class="number">76,286</td>,
 <td class="number">3,570</td>,
 <td class="number">3,575</td>,
 <td class="number">2,135</td>,
 <td class="number">N/A</td>,
 <td class="number">N/A</td>,
 <td class="blank_06" colspan="12"></td>,
 <td class="division_line" colspan="12"></td>,
 <td class="blank_08" colspan="12"></td>,
 <td class="no">11</td>,
 <td><a class="tltle" href="/item/main.naver?code=530036">삼성 인버스 2X WTI원유 선물 ETN</a></td>,
 <td class="number">77</td>,
 <td class="number">
 <em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
 				3
 				</span>
 </td>,
 <td class="number">
 <span class="tah p11 nv01">
 				-3.75%
 				</span>
 </td>,
 <td class="number">20,209,689</td>,
 <td class="number">1,555</td>,
 <td class="number">77</td>,
 <td class="number">78</td>,
 <td class="number">1,153</td>,
 <td class="number">N/A</td>,
 <td class="number">N/A</td>,
 <td class="no">12</td>,
 <td><a class="tltle" href="/item/main.naver?code=450140">코오롱모빌리티그룹</a></td>,
 <td class="number">2,630</td>,
 <td class="number">
 <em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
 				195
 				</span>
 </td>,
 <td class="number">
 <span class="tah p11 red01">
 				+8.01%
 				</span>
 </td>,
 <td class="number">18,337,732</td>,
 <td class="number">50,756</td>,
 <td class="number">2,625</td>,
 <td class="number">2,630</td>,
 <td class="number">1,651</td>,
 <td class="number">-38.12</td>,
 <td class="number">-5.62</td>,
 <td class="no">13</td>,
 <td><a class="tltle" href="/item/main.naver?code=500027">신한 인버스 2X WTI원유 선물 ETN(H)</a></td>,
 <td class="number">66</td>,
 <td class="number">
 <em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
 				3
 				</span>
 </td>,
 <td class="number">
 <span class="tah p11 nv01">
 				-4.35%
 				</span>
 </td>,
 <td class="number">16,439,215</td>,
 <td class="number">1,070</td>,
 <td class="number">65</td>,
 <td class="number">66</td>,
 <td class="number">418</td>,
 <td class="number">N/A</td>,
 <td class="number">N/A</td>,
 <td class="no">14</td>,
 <td><a class="tltle" href="/item/main.naver?code=004140">동방</a></td>,
 <td class="number">2,990</td>,
 <td class="number">
 <em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
 				110
 				</span>
 </td>,
 <td class="number">
 <span class="tah p11 red01">
 				+3.82%
 				</span>
 </td>,
 <td class="number">15,097,937</td>,
 <td class="number">45,907</td>,
 <td class="number">2,985</td>,
 <td class="number">2,990</td>,
 <td class="number">1,434</td>,
 <td class="number">8.90</td>,
 <td class="number">13.73</td>,
 <td class="no">15</td>,
 <td><a class="tltle" href="/item/main.naver?code=002630">오리엔트바이오</a></td>,
 <td class="number">807</td>,
 <td class="number">
 <em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
 				17
 				</span>
 </td>,
 <td class="number">
 <span class="tah p11 nv01">
 				-2.06%
 				</span>
 </td>,
 <td class="number">12,992,658</td>,
 <td class="number">10,868</td>,
 <td class="number">807</td>,
 <td class="number">809</td>,
 <td class="number">957</td>,
 <td class="number">-7.27</td>,
 <td class="number">-16.82</td>,
 <td class="blank_06" colspan="12"></td>,
 <td class="division_line" colspan="12"></td>,
 <td class="blank_08" colspan="12"></td>,
 <td class="no">16</td>,
 <td><a class="tltle" href="/item/main.naver?code=093240">형지엘리트</a></td>,
 <td class="number">3,175</td>,
 <td class="number">
 <em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
 				5
 				</span>
 </td>,
 <td class="number">
 <span class="tah p11 nv01">
 				-0.16%
 				</span>
 </td>,
 <td class="number">11,248,931</td>,
 <td class="number">35,834</td>,
 <td class="number">3,170</td>,
 <td class="number">3,175</td>,
 <td class="number">1,219</td>,
 <td class="number">39.20</td>,
 <td class="number">8.75</td>,
 <td class="no">17</td>,
 <td><a class="tltle" href="/item/main.naver?code=412570">TIGER 2차전지TOP10레버리지</a></td>,
 <td class="number">1,125</td>,
 <td class="number">
 <em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
 				115
 				</span>
 </td>,
 <td class="number">
 <span class="tah p11 red01">
 				+11.39%
 				</span>
 </td>,
 <td class="number">9,531,155</td>,
 <td class="number">10,493</td>,
 <td class="number">1,124</td>,
 <td class="number">1,125</td>,
 <td class="number">924</td>,
 <td class="number">N/A</td>,
 <td class="number">N/A</td>,
 <td class="no">18</td>,
 <td><a class="tltle" href="/item/main.naver?code=069500">KODEX 200</a></td>,
 <td class="number">42,305</td>,
 <td class="number">
 <em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
 				645
 				</span>
 </td>,
 <td class="number">
 <span class="tah p11 red01">
 				+1.55%
 				</span>
 </td>,
 <td class="number">8,849,304</td>,
 <td class="number">372,929</td>,
 <td class="number">42,305</td>,
 <td class="number">42,310</td>,
 <td class="number">66,525</td>,
 <td class="number">N/A</td>,
 <td class="number">N/A</td>,
 <td class="no">19</td>,
 <td><a class="tltle" href="/item/main.naver?code=003280">흥아해운</a></td>,
 <td class="number">1,813</td>,
 <td class="number">
 <em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
 				11
 				</span>
 </td>,
 <td class="number">
 <span class="tah p11 red01">
 				+0.61%
 				</span>
 </td>,
 <td class="number">8,797,261</td>,
 <td class="number">15,920</td>,
 <td class="number">1,813</td>,
 <td class="number">1,814</td>,
 <td class="number">4,359</td>,
 <td class="number">11.40</td>,
 <td class="number">20.08</td>,
 <td class="no">20</td>,
 <td><a class="tltle" href="/item/main.naver?code=009830">한화솔루션</a></td>,
 <td class="number">36,300</td>,
 <td class="number">
 <em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
 				850
 				</span>
 </td>,
 <td class="number">
 <span class="tah p11 red01">
 				+2.40%
 				</span>
 </td>,
 <td class="number">8,239,831</td>,
 <td class="number">296,615</td>,
 <td class="number">36,300</td>,
 <td class="number">36,350</td>,
 <td class="number">62,397</td>,
 <td class="number">-6.40</td>,
 <td class="number">-15.99</td>,
 <td class="blank_06" colspan="12"></td>,
 <td class="division_line" colspan="12"></td>,
 <td class="blank_08" colspan="12"></td>,
 <td class="no">21</td>,
 <td><a class="tltle" href="/item/main.naver?code=462010">TIGER 2차전지소재Fn</a></td>,
 <td class="number">3,815</td>,
 <td class="number">
 <em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
 				175
 				</span>
 </td>,
 <td class="number">
 <span class="tah p11 red01">
 				+4.81%
 				</span>
 </td>,
 <td class="number">7,736,175</td>,
 <td class="number">29,287</td>,
 <td class="number">3,815</td>,
 <td class="number">3,820</td>,
 <td class="number">4,757</td>,
 <td class="number">N/A</td>,
 <td class="number">N/A</td>,
 <td class="no">22</td>,
 <td><a class="tltle" href="/item/main.naver?code=305720">KODEX 2차전지산업</a></td>,
 <td class="number">11,475</td>,
 <td class="number">
 <em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
 				555
 				</span>
 </td>,
 <td class="number">
 <span class="tah p11 red01">
 				+5.08%
 				</span>
 </td>,
 <td class="number">7,246,353</td>,
 <td class="number">82,335</td>,
 <td class="number">11,470</td>,
 <td class="number">11,475</td>,
 <td class="number">10,029</td>,
 <td class="number">N/A</td>,
 <td class="number">N/A</td>,
 <td class="no">23</td>,
 <td><a class="tltle" href="/item/main.naver?code=034020">두산에너빌리티</a></td>,
 <td class="number">61,900</td>,
 <td class="number">
 <em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
 				300
 				</span>
 </td>,
 <td class="number">
 <span class="tah p11 red01">
 				+0.49%
 				</span>
 </td>,
 <td class="number">6,984,206</td>,
 <td class="number">436,251</td>,
 <td class="number">61,800</td>,
 <td class="number">61,900</td>,
 <td class="number">396,507</td>,
 <td class="number">-389.31</td>,
 <td class="number">1.52</td>,
 <td class="no">24</td>,
 <td><a class="tltle" href="/item/main.naver?code=364980">TIGER 2차전지TOP10</a></td>,
 <td class="number">8,055</td>,
 <td class="number">
 <em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
 				420
 				</span>
 </td>,
 <td class="number">
 <span class="tah p11 red01">
 				+5.50%
 				</span>
 </td>,
 <td class="number">6,826,713</td>,
 <td class="number">54,106</td>,
 <td class="number">8,040</td>,
 <td class="number">8,055</td>,
 <td class="number">3,774</td>,
 <td class="number">N/A</td>,
 <td class="number">N/A</td>,
 <td class="no">25</td>,
 <td><a class="tltle" href="/item/main.naver?code=002700">신일전자</a></td>,
 <td class="number">1,621</td>,
 <td class="number">
 <em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
 				4
 				</span>
 </td>,
 <td class="number">
 <span class="tah p11 red01">
 				+0.25%
 				</span>
 </td>,
 <td class="number">6,289,419</td>,
 <td class="number">10,041</td>,
 <td class="number">1,620</td>,
 <td class="number">1,621</td>,
 <td class="number">1,152</td>,
 <td class="number">67.54</td>,
 <td class="number">1.76</td>,
 <td class="blank_06" colspan="12"></td>,
 <td class="division_line" colspan="12"></td>,
 <td class="blank_08" colspan="12"></td>,
 <td class="no">26</td>,
 <td><a class="tltle" href="/item/main.naver?code=228790">TIGER 화장품</a></td>,
 <td class="number">4,025</td>,
 <td class="number">
 <em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
 				15
 				</span>
 </td>,
 <td class="number">
 <span class="tah p11 nv01">
 				-0.37%
 				</span>
 </td>,
 <td class="number">5,883,159</td>,
 <td class="number">23,673</td>,
 <td class="number">4,020</td>,
 <td class="number">4,025</td>,
 <td class="number">2,614</td>,
 <td class="number">N/A</td>,
 <td class="number">N/A</td>,
 <td class="no">27</td>,
 <td><a class="tltle" href="/item/main.naver?code=005690">파미셀</a></td>,
 <td class="number">11,580</td>,
 <td class="number">
 <em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
 				650
 				</span>
 </td>,
 <td class="number">
 <span class="tah p11 nv01">
 				-5.31%
 				</span>
 </td>,
 <td class="number">5,796,403</td>,
 <td class="number">71,106</td>,
 <td class="number">11,570</td>,
 <td class="number">11,580</td>,
 <td class="number">6,950</td>,
 <td class="number">43.05</td>,
 <td class="number">7.59</td>,
 <td class="no">28</td>,

In [13]:
table = soup.select_one('table.type_2')
rows = table.select('tr')[2:]
rows

[<tr>
 <td class="no">1</td>
 <td><a class="tltle" href="/item/main.naver?code=252670">KODEX 200선물인버스2X</a></td>
 <td class="number">1,435</td>
 <td class="number">
 <em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
 				55
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 red01">
 				+3.99%
 				</span>
 </td>
 <td class="number">410,319,344</td>
 <td class="number">576,563</td>
 <td class="number">1,434</td>
 <td class="number">1,435</td>
 <td class="number">14,574</td>
 <td class="number">N/A</td>
 <td class="number">N/A</td>
 </tr>,
 <tr>
 <td class="no">2</td>
 <td><a class="tltle" href="/item/main.naver?code=008970">동양철관</a></td>
 <td class="number">1,501</td>
 <td class="number">
 <em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
 				31
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 nv01">
 				-2.02%
 				</span>
 </td>
 <td class="number">144,506,253</td>
 <td class="number">237,780</td>
 <td class="number">1,501</td>
 <td class="number">1,502</td>
 <td class="number">2,399</td>
 <td class="number">-10.35</td>
 <td class="number">-20.13</td>
 </tr>,
 <tr>
 <td class="no">3</td>
 <td><a class="tltle" href="/item/main.naver?code=114800">KODEX 인버스</a></td>
 <td class="number">3,640</td>
 <td class="number">
 <em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
 				70
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 red01">
 				+1.96%
 				</span>
 </td>
 <td class="number">57,318,645</td>
 <td class="number">206,589</td>
 <td class="number">3,640</td>
 <td class="number">3,645</td>
 <td class="number">6,672</td>
 <td class="number">N/A</td>
 <td class="number">N/A</td>
 </tr>,
 <tr>
 <td class="no">4</td>
 <td><a class="tltle" href="/item/main.naver?code=233740">KODEX 코스닥150레버리지</a></td>
 <td class="number">7,870</td>
 <td class="number">
 <em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
 				465
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 nv01">
 				-5.58%
 				</span>
 </td>
 <td class="number">36,896,112</td>
 <td class="number">296,530</td>
 <td class="number">7,870</td>
 <td class="number">7,875</td>
 <td class="number">18,274</td>
 <td class="number">N/A</td>
 <td class="number">N/A</td>
 </tr>,
 <tr>
 <td class="no">5</td>
 <td><a class="tltle" href="/item/main.naver?code=462330">KODEX 2차전지산업레버리지</a></td>
 <td class="number">975</td>
 <td class="number">
 <em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
 				15
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 nv01">
 				-1.52%
 				</span>
 </td>
 <td class="number">35,678,049</td>
 <td class="number">34,818</td>
 <td class="number">974</td>
 <td class="number">975</td>
 <td class="number">2,670</td>
 <td class="number">N/A</td>
 <td class="number">N/A</td>
 </tr>,
 <tr><td class="blank_06" colspan="12"></td></tr>,
 <tr><td class="division_line" colspan="12"></td></tr>,
 <tr><td class="blank_08" colspan="12"></td></tr>,
 <tr>
 <td class="no">6</td>
 <td><a class="tltle" href="/item/main.naver?code=122630">KODEX 레버리지</a></td>
 <td class="number">22,900</td>
 <td class="number">
 <em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
 				935
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 nv01">
 				-3.92%
 				</span>
 </td>
 <td class="number">28,850,842</td>
 <td class="number">674,260</td>
 <td class="number">22,895</td>
 <td class="number">22,900</td>
 <td class="number">25,911</td>
 <td class="number">N/A</td>
 <td class="number">N/A</td>
 </tr>,
 <tr>
 <td class="no">7</td>
 <td><a class="tltle" href="/item/main.naver?code=251340">KODEX 코스닥150선물인버스</a></td>
 <td class="number">3,675</td>
 <td class="number">
 <em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
 				105
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 red01">
 				+2.94%
 				</span>
 </td>
 <td class="number">28,248,697</td>
 <td class="number">102,591</td>
 <td class="number">3,670</td>
 <td class="number">3,675</td>
 <td class="number">2,444</td>
 <td class="number">N/A</td>
 <td class="number">N/A</td>
 </tr>,
 <tr>
 <td class="no">8</td>
 <td><a class="tltle" href="/item/main.naver?code=005930">삼성전자</a></td>
 <td class="number">63,300</td>
 <td class="number">
 <em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
 				500
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 nv01">
 				-0.78%
 				</span>
 </td>
 <td class="number">23,689,699</td>
 <td class="number">1,506,052</td>
 <td class="number">63,200</td>
 <td class="number">63,300</td>
 <td class="number">3,747,131</td>
 <td class="number">12.26</td>
 <td class="number">9.03</td>
 </tr>,
 <tr>
 <td class="no">9</td>
 <td><a class="tltle" href="/item/main.naver?code=037560">LG헬로비전</a></td>
 <td class="number">3,315</td>
 <td class="number">
 <em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
 				500
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 red01">
 				+17.76%
 				</span>
 </td>
 <td class="number">22,474,222</td>
 <td class="number">73,163</td>
 <td class="number">3,310</td>
 <td class="number">3,315</td>
 <td class="number">2,567</td>
 <td class="number">-2.45</td>
 <td class="number">-21.05</td>
 </tr>,
 <tr>
 <td class="no">10</td>
 <td><a class="tltle" href="/item/main.naver?code=009070">KCTC</a></td>
 <td class="number">6,090</td>
 <td class="number">
 <em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
 				160
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 nv01">
 				-2.56%
 				</span>
 </td>
 <td class="number">9,475,496</td>
 <td class="number">58,355</td>
 <td class="number">6,080</td>
 <td class="number">6,090</td>
 <td class="number">1,827</td>
 <td class="number">8.71</td>
 <td class="number">9.06</td>
 </tr>,
 <tr><td class="blank_06" colspan="12"></td></tr>,
 <tr><td class="division_line" colspan="12"></td></tr>,
 <tr><td class="blank_08" colspan="12"></td></tr>,
 <tr>
 <td class="no">11</td>
 <td><a class="tltle" href="/item/main.naver?code=015760">한국전력</a></td>
 <td class="number">36,900</td>
 <td class="number">
 <em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
 				1,000
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 red01">
 				+2.79%
 				</span>
 </td>
 <td class="number">9,369,609</td>
 <td class="number">353,904</td>
 <td class="number">36,850</td>
 <td class="number">36,900</td>
 <td class="number">236,885</td>
 <td class="number">4.50</td>
 <td class="number">9.22</td>
 </tr>,
 <tr>
 <td class="no">12</td>
 <td><a class="tltle" href="/item/main.naver?code=069500">KODEX 200</a></td>
 <td class="number">41,490</td>
 <td class="number">
 <em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
 				815
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 nv01">
 				-1.93%
 				</span>
 </td>
 <td class="number">8,387,838</td>
 <td class="number">351,266</td>
 <td class="number">41,485</td>
 <td class="number">41,490</td>
 <td class="number">65,575</td>
 <td class="number">N/A</td>
 <td class="number">N/A</td>
 </tr>,
 <tr>
 <td class="no">13</td>
 <td><a class="tltle" href="/item/main.naver?code=034020">두산에너빌리티</a></td>
 <td class="number">60,000</td>
 <td class="number">
 <em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
 				1,900
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 nv01">
 				-3.07%
 				</span>
 </td>
 <td class="number">7,881,195</td>
 <td class="number">485,276</td>
 <td class="number">60,000</td>
 <td class="number">60,100</td>
 <td class="number">384,337</td>
 <td class="number">-377.36</td>
 <td class="number">1.52</td>
 </tr>,
 <tr>
 <td class="no">14</td>
 <td><a class="tltle" href="/item/main.naver?code=412570">TIGER 2차전지TOP10레버리지</a></td>
 <td class="number">1,105</td>
 <td class="number">
 <em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
 				20
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 nv01">
 				-1.78%
 				</span>
 </td>
 <td class="number">7,188,415</td>
 <td class="number">7,989</td>
 <td class="number">1,104</td>
 <td class="number">1,105</td>
 <td class="number">908</td>
 <td class="number">N/A</td>
 <td class="number">N/A</td>
 </tr>,
 <tr>
 <td class="no">15</td>
 <td><a class="tltle" href="/item/main.naver?code=093240">형지엘리트</a></td>
 <td class="number">3,200</td>
 <td class="number">
 <em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
 				25
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 red01">
 				+0.79%
 				</span>
 </td>
 <td class="number">6,857,779</td>
 <td class="number">22,729</td>
 <td class="number">3,200</td>
 <td class="number">3,205</td>
 <td class="number">1,228</td>
 <td class="number">39.51</td>
 <td class="number">8.75</td>
 </tr>,
 <tr><td class="blank_06" colspan="12"></td></tr>,
 <tr><td class="division_line" colspan="12"></td></tr>,
 <tr><td class="blank_08" colspan="12"></td></tr>,
 <tr>
 <td class="no">16</td>
 <td><a class="tltle" href="/item/main.naver?code=229200">KODEX 코스닥150</a></td>
 <td class="number">12,525</td>
 <td class="number">
 <em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
 				380
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 nv01">
 				-2.94%
 				</span>
 </td>
 <td class="number">6,687,802</td>
 <td class="number">84,562</td>
 <td class="number">12,525</td>
 <td class="number">12,535</td>
 <td class="number">12,932</td>
 <td class="number">N/A</td>
 <td class="number">N/A</td>
 </tr>,
 <tr>
 <td class="no">17</td>
 <td><a class="tltle" href="/item/main.naver?code=006800">미래에셋증권</a></td>
 <td class="number">19,380</td>
 <td class="number">
 <em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
 				2,170
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 nv01">
 				-10.07%
 				</span>
 </td>
 <td class="number">6,327,786</td>
 <td class="number">127,242</td>
 <td class="number">19,380</td>
 <td class="number">19,390</td>
 <td class="number">110,527</td>
 <td class="number">14.21</td>
 <td class="number">7.94</td>
 </tr>,
 <tr>
 <td class="no">18</td>
 <td><a class="tltle" href="/item/main.naver?code=228790">TIGER 화장품</a></td>
 <td class="number">3,855</td>
 <td class="number">
 <em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
 				170
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 nv01">
 				-4.22%
 				</span>
 </td>
 <td class="number">5,695,683</td>
 <td class="number">22,352</td>
 <td class="number">3,850</td>
 <td class="number">3,855</td>
 <td class="number">2,490</td>
 <td class="number">N/A</td>
 <td class="number">N/A</td>
 </tr>,
 <tr>
 <td class="no">19</td>
 <td><a class="tltle" href="/item/main.naver?code=010140">삼성중공업</a></td>
 <td class="number">15,720</td>
 <td class="number">
 <em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
 				570
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 nv01">
 				-3.50%
 				</span>
 </td>
 <td class="number">5,615,357</td>
 <td class="number">89,359</td>
 <td class="number">15,720</td>
 <td class="number">15,730</td>
 <td class="number">138,336</td>
 <td class="number">94.70</td>
 <td class="number">1.77</td>
 </tr>,
 <tr>
 <td class="no">20</td>
 <td><a class="tltle" href="/item/main.naver?code=036460">한국가스공사</a></td>
 <td class="number">47,350</td>
 <td class="number">
 <em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
 				3,550
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 red01">
 				+8.11%
 				</span>
 </td>
 <td class="number">5,476,816</td>
 <td class="number">260,665</td>
 <td class="number">47,350</td>
 <td class="number">47,400</td>
 <td class="number">43,710</td>
 <td class="number">3.95</td>
 <td class="number">11.21</td>
 </tr>,
 <tr><td class="blank_06" colspan="12"></td></tr>,
 <tr><td class="division_line" colspan="12"></td></tr>,
 <tr><td class="blank_08" colspan="12"></td></tr>,
 <tr>
 <td class="no">21</td>
 <td><a class="tltle" href="/item/main.naver?code=462010">TIGER 2차전지소재Fn</a></td>
 <td class="number">3,825</td>
 <td class="number">
 <em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
 				10
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 red01">
 				+0.26%
 				</span>
 </td>
 <td class="number">5,198,392</td>
 <td class="number">19,818</td>
 <td class="number">3,820</td>
 <td class="number">3,825</td>
 <td class="number">4,766</td>
 <td class="number">N/A</td>
 <td class="number">N/A</td>
 </tr>,
 <tr>
 <td class="no">22</td>
 <td><a class="tltle" href="/item/main.naver?code=364980">TIGER 2차전지TOP10</a></td>
 <td class="number">7,910</td>
 <td class="number">
 <em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
 				145
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 nv01">
 				-1.80%
 				</span>
 </td>
 <td class="number">5,183,431</td>
 <td class="number">41,257</td>
 <td class="number">7,910</td>
 <td class="number">7,920</td>
 <td class="number">3,706</td>
 <td class="number">N/A</td>
 <td class="number">N/A</td>
 </tr>,
 <tr>
 <td class="no">23</td>
 <td><a class="tltle" href="/item/main.naver?code=004410">서울식품</a></td>
 <td class="number">168</td>
 <td class="number">
 <em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
 				1
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 nv01">
 				-0.59%
 				</span>
 </td>
 <td class="number">5,058,386</td>
 <td class="number">838</td>
 <td class="number">167</td>
 <td class="number">168</td>
 <td class="number">630</td>
 <td class="number">-18.67</td>
 <td class="number">-12.02</td>
 </tr>,
 <tr>
 <td class="no">24</td>
 <td><a class="tltle" href="/item/main.naver?code=498400">KODEX 200타겟위클리커버드콜</a></td>
 <td class="number">10,980</td>
 <td class="number">
 <em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
 				200
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 nv01">
 				-1.79%
 				</span>
 </td>
 <td class="number">4,962,931</td>
 <td class="number">54,939</td>
 <td class="number">10,975</td>
 <td class="number">10,980</td>
 <td class="number">5,391</td>
 <td class="number">N/A</td>
 <td class="number">N/A</td>
 </tr>,
 <tr>
 <td class="no">25</td>
 <td><a class="tltle" href="/item/main.naver?code=530107">삼성 인버스 2X 코스닥150 선물 ETN</a></td>
 <td class="number">5,735</td>
 <td class="number">
 <em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
 				315
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 red01">
 				+5.81%
 				</span>
 </td>
 <td class="number">4,757,289</td>
 <td class="number">26,664</td>
 <td class="number">5,730</td>
 <td class="number">5,735</td>
 <td class="number">2,294</td>
 <td class="number">N/A</td>
 <td class="number">N/A</td>
 </tr>,
 <tr><td class="blank_06" colspan="12"></td></tr>,
 <tr><td class="division_line" colspan="12"></td></tr>,
 <tr><td class="blank_08" colspan="12"></td></tr>,
 <tr>
 <td class="no">26</td>
 <td><a class="tltle" href="/item/main.naver?code=305720">KODEX 2차전지산업</a></td>
 <td class="number">11,445</td>
 <td class="number">
 <em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
 				30
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 nv01">
 				-0.26%
 				</span>
 </td>
 <td class="number">4,584,674</td>
 <td class="number">52,420</td>
 <td class="number">11,440</td>
 <td class="number">11,445</td>
 <td class="number">9,969</td>
 <td class="number">N/A</td>
 <td class="number">N/A</td>
 </tr>,
 <tr>
 <td class="no">27</td>
 <td><a class="tltle" href="/item/main.naver?code=530036">삼성 인버스 2X WTI원유 선물 ETN</a></td>
 <td class="number">78</td>
 <td class="number">
 <em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
 				1
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 red01">
 				+1.30%
 				</span>
 </td>
 <td class="number">4,468,967</td>
 <td class="number">346</td>
 <td class="number">77</td>
 <td class="number">78</td>
 <td class="number">1,168</td>
 <td class="number">N/A</td>
 <td class="number">N/A</td>
 </tr>,
 <tr>
 <td class="no">28</td>
 <td><a class="tltle" href="/item/main.naver?code=005320">온타이드</a></td>
 <td class="number">610</td>
 <td class="number">
 <em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
 				64
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 nv01">
 				-9.50%
 				</span>
 </td>
 <td class="number">4,400,999</td>
 <td class="number">2,708</td>
 <td class="number">610</td>
 <td class="number">611</td>
 <td class="number">412</td>
 <td class="number">50.83</td>
 <td class="number">-3.35</td>
 </tr>,
 <tr>
 <td class="no">29</td>
 <td><a class="tltle" href="/item/main.naver?code=003280">흥아해운</a></td>
 <td class="number">1,805</td>
 <td class="number">
 <em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
 				8
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 nv01">
 				-0.44%
 				</span>
 </td>
 <td class="number">4,333,858</td>
 <td class="number">7,835</td>
 <td class="number">1,805</td>
 <td class="number">1,807</td>
 <td class="number">4,340</td>
 <td class="number">11.35</td>
 <td class="number">20.08</td>
 </tr>,
 <tr>
 <td class="no">30</td>
 <td><a class="tltle" href="/item/main.naver?code=009830">한화솔루션</a></td>
 <td class="number">36,450</td>
 <td class="number">
 <em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
 				150
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 red01">
 				+0.41%
 				</span>
 </td>
 <td class="number">4,204,743</td>
 <td class="number">154,347</td>
 <td class="number">36,400</td>
 <td class="number">36,450</td>
 <td class="number">62,655</td>
 <td class="number">-6.43</td>
 <td class="number">-15.99</td>
 </tr>,
 <tr><td class="blank_06" colspan="12"></td></tr>,
 <tr><td class="division_line" colspan="12"></td></tr>,
 <tr><td class="blank_08" colspan="12"></td></tr>,
 <tr>
 <td class="no">31</td>
 <td><a class="tltle" href="/item/main.naver?code=011200">HMM</a></td>
 <td class="number">24,300</td>
 <td class="number">
 <em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
 				400
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 red01">
 				+1.67%
 				</span>
 </td>
 <td class="number">4,092,417</td>
 <td class="number">100,847</td>
 <td class="number">24,300</td>
 <td class="number">24,350</td>
 <td class="number">249,085</td>
 <td class="number">4.79</td>
 <td class="number">15.35</td>
 </tr>,
 <tr>
 <td class="no">32</td>
 <td><a class="tltle" href="/item/main.naver?code=095720">웅진씽크빅</a></td>
 <td class="number">2,095</td>
 <td class="number">
 <em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
 				129
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 red01">
 				+6.56%
 				</span>
 </td>
 <td class="number">4,080,881</td>
 <td class="number">8,605</td>
 <td class="number">2,095</td>
 <td class="number">2,100</td>
 <td class="number">2,420</td>
 <td class="number">-9.70</td>
 <td class="number">-6.44</td>
 </tr>,
 <tr>
 <td class="no">33</td>
 <td><a class="tltle" href="/item/main.naver?code=001510">SK증권</a></td>
 <td class="number">663</td>
 <td class="number">
 <em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
 				24

In [10]:
result = []

for row in rows:
    columns = row.select('td')
    if len(columns) > 1:
        name = columns[1].text.strip()
        price = columns[2].text.strip()
        result.append({'name': name, 'price': price})

result

[{'name': 'KODEX 200선물인버스2X', 'price': '1,435'},
 {'name': '동양철관', 'price': '1,501'},
 {'name': 'KODEX 인버스', 'price': '3,640'},
 {'name': 'KODEX 코스닥150레버리지', 'price': '7,870'},
 {'name': 'KODEX 2차전지산업레버리지', 'price': '975'},
 {'name': 'KODEX 레버리지', 'price': '22,900'},
 {'name': 'KODEX 코스닥150선물인버스', 'price': '3,675'},
 {'name': '삼성전자', 'price': '63,300'},
 {'name': 'LG헬로비전', 'price': '3,315'},
 {'name': 'KCTC', 'price': '6,090'},
 {'name': '한국전력', 'price': '36,900'},
 {'name': 'KODEX 200', 'price': '41,490'},
 {'name': '두산에너빌리티', 'price': '60,000'},
 {'name': 'TIGER 2차전지TOP10레버리지', 'price': '1,105'},
 {'name': '형지엘리트', 'price': '3,200'},
 {'name': 'KODEX 코스닥150', 'price': '12,525'},
 {'name': '미래에셋증권', 'price': '19,380'},
 {'name': 'TIGER 화장품', 'price': '3,855'},
 {'name': '삼성중공업', 'price': '15,720'},
 {'name': '한국가스공사', 'price': '47,350'},
 {'name': 'TIGER 2차전지소재Fn', 'price': '3,825'},
 {'name': 'TIGER 2차전지TOP10', 'price': '7,910'},
 {'name': '서울식품', 'price': '168'},
 {'name': 'KODEX 200타겟위클리커버드콜', 'price': '10,980'},
 {'name': '삼성 인버스 2X 코스닥150 선물 ETN', 'price': '5,735'},
 {'name': 'KODEX 2차전지산업', 'price': '11,445'},
 {'name': '삼성 인버스 2X WTI원유 선물 ETN', 'price': '78'},
 {'name': '온타이드', 'price': '610'},
 {'name': '흥아해운', 'price': '1,805'},
 {'name': '한화솔루션', 'price': '36,450'},
 {'name': 'HMM', 'price': '24,300'},
 {'name': '웅진씽크빅', 'price': '2,095'},
 {'name': 'SK증권', 'price': '663'},
 {'name': '대한해운', 'price': '1,703'},
 {'name': 'SOL 조선TOP3플러스', 'price': '23,270'},
 {'name': 'SK하이닉스', 'price': '270,500'},
 {'name': 'TIGER 200', 'price': '41,450'},
 {'name': '동방', 'price': '3,000'},
 {'name': 'TIGER 200선물인버스2X', 'price': '1,520'},
 {'name': 'KODEX 증권', 'price': '13,045'},
 {'name': '핸즈코퍼레이션', 'price': '1,755'},
 {'name': '오리엔트바이오', 'price': '783'},
 {'name': 'KODEX AI전력핵심설비', 'price': '14,060'},
 {'name': 'ACE 테슬라밸류체인액티브', 'price': '14,540'},
 {'name': 'KODEX 미국S&P500', 'price': '19,505'},
 {'name': 'TIGER 미국S&P500', 'price': '21,190'},
 {'name': '신일전자', 'price': '1,578'},
 {'name': 'PLUS 고배당주', 'price': '19,115'},
 {'name': 'ACE 미국30년국채액티브(H)', 'price': '7,725'},
 {'name': '현대로템', 'price': '180,600'},
 {'name': '팬오션', 'price': '3,845'},
 {'name': 'TIGER 차이나항셍테크', 'price': '7,805'},
 {'name': '한화오션', 'price': '73,100'},
 {'name': '한화투자증권', 'price': '6,250'},
 {'name': 'PLUS K방산', 'price': '44,295'},
 {'name': '삼성E&A', 'price': '23,900'},
 {'name': 'TIGER 200 중공업', 'price': '9,930'},
 {'name': '대한전선', 'price': '15,470'},
 {'name': 'SK텔레콤', 'price': '54,400'},
 {'name': '신성이엔지', 'price': '1,509'},
 {'name': 'KODEX 2차전지핵심소재10', 'price': '3,905'},
 {'name': '유진투자증권', 'price': '3,415'},
 {'name': '카카오', 'price': '58,400'},
 {'name': '현대제철', 'price': '34,750'},
 {'name': 'TIGER Fn반도체TOP10', 'price': '11,730'},
 {'name': '콜마홀딩스', 'price': '17,030'},
 {'name': 'ACE 미국30년국채액티브', 'price': '9,360'},
 {'name': '강원랜드', 'price': '19,790'},
 {'name': '넥스틸', 'price': '14,110'},
 {'name': 'BNK금융지주', 'price': '13,400'},
 {'name': '우리금융지주', 'price': '22,900'},
 {'name': '신원', 'price': '1,755'},
 {'name': '삼성전자우', 'price': '52,700'},
 {'name': '한화생명', 'price': '3,185'},
 {'name': 'TIGER 조선TOP10', 'price': '18,225'},
 {'name': 'LG디스플레이', 'price': '9,300'},
 {'name': '미래에셋증권2우B', 'price': '8,030'},
 {'name': 'YG PLUS', 'price': '8,330'},
 {'name': 'TIGER 코리아배당다우존스', 'price': '11,785'},
 {'name': '삼성 레버리지 천연가스 선물 ETN C', 'price': '3,675'},
 {'name': '인디에프', 'price': '1,439'},
 {'name': 'TIGER 지주회사', 'price': '13,810'},
 {'name': 'TIGER 인터넷TOP10', 'price': '4,655'},
 {'name': '파미셀', 'price': '11,050'},
 {'name': '대한항공', 'price': '23,550'},
 {'name': 'TIGER 2차전지테마', 'price': '14,365'},
 {'name': 'TIGER 은행고배당플러스TOP10', 'price': '18,590'},
 {'name': '이수페타시스', 'price': '53,400'},
 {'name': '하이스틸', 'price': '3,910'},
 {'name': 'KODEX 금융고배당TOP10타겟위클리커버드콜', 'price': '12,410'},
 {'name': 'TIGER 미국테크TOP10 INDXX', 'price': '24,470'},
 {'name': '파라다이스', 'price': '16,020'},
 {'name': '대영포장', 'price': '1,195'},
 {'name': 'TIGER 바이오TOP10', 'price': '7,590'},
 {'name': '휴스틸', 'price': '4,725'},
 {'name': 'HD현대인프라코어', 'price': '11,600'},
 {'name': '코오롱모빌리티그룹', 'price': '2,535'},
 {'name': 'ACE 포스코그룹포커스', 'price': '5,120'},
 {'name': '카카오페이', 'price': '79,100'},
 {'name': '한화시스템', 'price': '51,900'}]

In [17]:
rows = soup.select('table.type_2 tr')
rows

[<tr>
 <th>N</th>
 <th>종목명</th>
 <th>현재가</th>
 <th class="tr" style="padding-right:8px">전일비</th>
 <th>등락률</th>
 <th>거래량</th>
 <th>거래대금</th>
 <th>매수호가</th>
 <th>매도호가</th>
 <th>시가총액</th>
 <th>PER</th>
 <th>ROE</th>
 </tr>,
 <tr><td class="blank_08" colspan="10"></td></tr>,
 <tr>
 <td class="no">1</td>
 <td><a class="tltle" href="/item/main.naver?code=252670">KODEX 200선물인버스2X</a></td>
 <td class="number">1,435</td>
 <td class="number">
 <em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
 				55
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 red01">
 				+3.99%
 				</span>
 </td>
 <td class="number">410,319,344</td>
 <td class="number">576,563</td>
 <td class="number">1,434</td>
 <td class="number">1,435</td>
 <td class="number">14,574</td>
 <td class="number">N/A</td>
 <td class="number">N/A</td>
 </tr>,
 <tr>
 <td class="no">2</td>
 <td><a class="tltle" href="/item/main.naver?code=008970">동양철관</a></td>
 <td class="number">1,501</td>
 <td class="number">
 <em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
 				31
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 nv01">
 				-2.02%
 				</span>
 </td>
 <td class="number">144,506,253</td>
 <td class="number">237,780</td>
 <td class="number">1,501</td>
 <td class="number">1,502</td>
 <td class="number">2,399</td>
 <td class="number">-10.35</td>
 <td class="number">-20.13</td>
 </tr>,
 <tr>
 <td class="no">3</td>
 <td><a class="tltle" href="/item/main.naver?code=114800">KODEX 인버스</a></td>
 <td class="number">3,640</td>
 <td class="number">
 <em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
 				70
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 red01">
 				+1.96%
 				</span>
 </td>
 <td class="number">57,318,645</td>
 <td class="number">206,589</td>
 <td class="number">3,640</td>
 <td class="number">3,645</td>
 <td class="number">6,672</td>
 <td class="number">N/A</td>
 <td class="number">N/A</td>
 </tr>,
 <tr>
 <td class="no">4</td>
 <td><a class="tltle" href="/item/main.naver?code=233740">KODEX 코스닥150레버리지</a></td>
 <td class="number">7,870</td>
 <td class="number">
 <em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
 				465
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 nv01">
 				-5.58%
 				</span>
 </td>
 <td class="number">36,896,112</td>
 <td class="number">296,530</td>
 <td class="number">7,870</td>
 <td class="number">7,875</td>
 <td class="number">18,274</td>
 <td class="number">N/A</td>
 <td class="number">N/A</td>
 </tr>,
 <tr>
 <td class="no">5</td>
 <td><a class="tltle" href="/item/main.naver?code=462330">KODEX 2차전지산업레버리지</a></td>
 <td class="number">975</td>
 <td class="number">
 <em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
 				15
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 nv01">
 				-1.52%
 				</span>
 </td>
 <td class="number">35,678,049</td>
 <td class="number">34,818</td>
 <td class="number">974</td>
 <td class="number">975</td>
 <td class="number">2,670</td>
 <td class="number">N/A</td>
 <td class="number">N/A</td>
 </tr>,
 <tr><td class="blank_06" colspan="12"></td></tr>,
 <tr><td class="division_line" colspan="12"></td></tr>,
 <tr><td class="blank_08" colspan="12"></td></tr>,
 <tr>
 <td class="no">6</td>
 <td><a class="tltle" href="/item/main.naver?code=122630">KODEX 레버리지</a></td>
 <td class="number">22,900</td>
 <td class="number">
 <em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
 				935
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 nv01">
 				-3.92%
 				</span>
 </td>
 <td class="number">28,850,842</td>
 <td class="number">674,260</td>
 <td class="number">22,895</td>
 <td class="number">22,900</td>
 <td class="number">25,911</td>
 <td class="number">N/A</td>
 <td class="number">N/A</td>
 </tr>,
 <tr>
 <td class="no">7</td>
 <td><a class="tltle" href="/item/main.naver?code=251340">KODEX 코스닥150선물인버스</a></td>
 <td class="number">3,675</td>
 <td class="number">
 <em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
 				105
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 red01">
 				+2.94%
 				</span>
 </td>
 <td class="number">28,248,697</td>
 <td class="number">102,591</td>
 <td class="number">3,670</td>
 <td class="number">3,675</td>
 <td class="number">2,444</td>
 <td class="number">N/A</td>
 <td class="number">N/A</td>
 </tr>,
 <tr>
 <td class="no">8</td>
 <td><a class="tltle" href="/item/main.naver?code=005930">삼성전자</a></td>
 <td class="number">63,300</td>
 <td class="number">
 <em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
 				500
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 nv01">
 				-0.78%
 				</span>
 </td>
 <td class="number">23,689,699</td>
 <td class="number">1,506,052</td>
 <td class="number">63,200</td>
 <td class="number">63,300</td>
 <td class="number">3,747,131</td>
 <td class="number">12.26</td>
 <td class="number">9.03</td>
 </tr>,
 <tr>
 <td class="no">9</td>
 <td><a class="tltle" href="/item/main.naver?code=037560">LG헬로비전</a></td>
 <td class="number">3,315</td>
 <td class="number">
 <em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
 				500
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 red01">
 				+17.76%
 				</span>
 </td>
 <td class="number">22,474,222</td>
 <td class="number">73,163</td>
 <td class="number">3,310</td>
 <td class="number">3,315</td>
 <td class="number">2,567</td>
 <td class="number">-2.45</td>
 <td class="number">-21.05</td>
 </tr>,
 <tr>
 <td class="no">10</td>
 <td><a class="tltle" href="/item/main.naver?code=009070">KCTC</a></td>
 <td class="number">6,090</td>
 <td class="number">
 <em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
 				160
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 nv01">
 				-2.56%
 				</span>
 </td>
 <td class="number">9,475,496</td>
 <td class="number">58,355</td>
 <td class="number">6,080</td>
 <td class="number">6,090</td>
 <td class="number">1,827</td>
 <td class="number">8.71</td>
 <td class="number">9.06</td>
 </tr>,
 <tr><td class="blank_06" colspan="12"></td></tr>,
 <tr><td class="division_line" colspan="12"></td></tr>,
 <tr><td class="blank_08" colspan="12"></td></tr>,
 <tr>
 <td class="no">11</td>
 <td><a class="tltle" href="/item/main.naver?code=015760">한국전력</a></td>
 <td class="number">36,900</td>
 <td class="number">
 <em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
 				1,000
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 red01">
 				+2.79%
 				</span>
 </td>
 <td class="number">9,369,609</td>
 <td class="number">353,904</td>
 <td class="number">36,850</td>
 <td class="number">36,900</td>
 <td class="number">236,885</td>
 <td class="number">4.50</td>
 <td class="number">9.22</td>
 </tr>,
 <tr>
 <td class="no">12</td>
 <td><a class="tltle" href="/item/main.naver?code=069500">KODEX 200</a></td>
 <td class="number">41,490</td>
 <td class="number">
 <em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
 				815
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 nv01">
 				-1.93%
 				</span>
 </td>
 <td class="number">8,387,838</td>
 <td class="number">351,266</td>
 <td class="number">41,485</td>
 <td class="number">41,490</td>
 <td class="number">65,575</td>
 <td class="number">N/A</td>
 <td class="number">N/A</td>
 </tr>,
 <tr>
 <td class="no">13</td>
 <td><a class="tltle" href="/item/main.naver?code=034020">두산에너빌리티</a></td>
 <td class="number">60,000</td>
 <td class="number">
 <em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
 				1,900
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 nv01">
 				-3.07%
 				</span>
 </td>
 <td class="number">7,881,195</td>
 <td class="number">485,276</td>
 <td class="number">60,000</td>
 <td class="number">60,100</td>
 <td class="number">384,337</td>
 <td class="number">-377.36</td>
 <td class="number">1.52</td>
 </tr>,
 <tr>
 <td class="no">14</td>
 <td><a class="tltle" href="/item/main.naver?code=412570">TIGER 2차전지TOP10레버리지</a></td>
 <td class="number">1,105</td>
 <td class="number">
 <em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
 				20
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 nv01">
 				-1.78%
 				</span>
 </td>
 <td class="number">7,188,415</td>
 <td class="number">7,989</td>
 <td class="number">1,104</td>
 <td class="number">1,105</td>
 <td class="number">908</td>
 <td class="number">N/A</td>
 <td class="number">N/A</td>
 </tr>,
 <tr>
 <td class="no">15</td>
 <td><a class="tltle" href="/item/main.naver?code=093240">형지엘리트</a></td>
 <td class="number">3,200</td>
 <td class="number">
 <em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
 				25
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 red01">
 				+0.79%
 				</span>
 </td>
 <td class="number">6,857,779</td>
 <td class="number">22,729</td>
 <td class="number">3,200</td>
 <td class="number">3,205</td>
 <td class="number">1,228</td>
 <td class="number">39.51</td>
 <td class="number">8.75</td>
 </tr>,
 <tr><td class="blank_06" colspan="12"></td></tr>,
 <tr><td class="division_line" colspan="12"></td></tr>,
 <tr><td class="blank_08" colspan="12"></td></tr>,
 <tr>
 <td class="no">16</td>
 <td><a class="tltle" href="/item/main.naver?code=229200">KODEX 코스닥150</a></td>
 <td class="number">12,525</td>
 <td class="number">
 <em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
 				380
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 nv01">
 				-2.94%
 				</span>
 </td>
 <td class="number">6,687,802</td>
 <td class="number">84,562</td>
 <td class="number">12,525</td>
 <td class="number">12,535</td>
 <td class="number">12,932</td>
 <td class="number">N/A</td>
 <td class="number">N/A</td>
 </tr>,
 <tr>
 <td class="no">17</td>
 <td><a class="tltle" href="/item/main.naver?code=006800">미래에셋증권</a></td>
 <td class="number">19,380</td>
 <td class="number">
 <em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
 				2,170
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 nv01">
 				-10.07%
 				</span>
 </td>
 <td class="number">6,327,786</td>
 <td class="number">127,242</td>
 <td class="number">19,380</td>
 <td class="number">19,390</td>
 <td class="number">110,527</td>
 <td class="number">14.21</td>
 <td class="number">7.94</td>
 </tr>,
 <tr>
 <td class="no">18</td>
 <td><a class="tltle" href="/item/main.naver?code=228790">TIGER 화장품</a></td>
 <td class="number">3,855</td>
 <td class="number">
 <em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
 				170
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 nv01">
 				-4.22%
 				</span>
 </td>
 <td class="number">5,695,683</td>
 <td class="number">22,352</td>
 <td class="number">3,850</td>
 <td class="number">3,855</td>
 <td class="number">2,490</td>
 <td class="number">N/A</td>
 <td class="number">N/A</td>
 </tr>,
 <tr>
 <td class="no">19</td>
 <td><a class="tltle" href="/item/main.naver?code=010140">삼성중공업</a></td>
 <td class="number">15,720</td>
 <td class="number">
 <em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
 				570
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 nv01">
 				-3.50%
 				</span>
 </td>
 <td class="number">5,615,357</td>
 <td class="number">89,359</td>
 <td class="number">15,720</td>
 <td class="number">15,730</td>
 <td class="number">138,336</td>
 <td class="number">94.70</td>
 <td class="number">1.77</td>
 </tr>,
 <tr>
 <td class="no">20</td>
 <td><a class="tltle" href="/item/main.naver?code=036460">한국가스공사</a></td>
 <td class="number">47,350</td>
 <td class="number">
 <em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
 				3,550
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 red01">
 				+8.11%
 				</span>
 </td>
 <td class="number">5,476,816</td>
 <td class="number">260,665</td>
 <td class="number">47,350</td>
 <td class="number">47,400</td>
 <td class="number">43,710</td>
 <td class="number">3.95</td>
 <td class="number">11.21</td>
 </tr>,
 <tr><td class="blank_06" colspan="12"></td></tr>,
 <tr><td class="division_line" colspan="12"></td></tr>,
 <tr><td class="blank_08" colspan="12"></td></tr>,
 <tr>
 <td class="no">21</td>
 <td><a class="tltle" href="/item/main.naver?code=462010">TIGER 2차전지소재Fn</a></td>
 <td class="number">3,825</td>
 <td class="number">
 <em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
 				10
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 red01">
 				+0.26%
 				</span>
 </td>
 <td class="number">5,198,392</td>
 <td class="number">19,818</td>
 <td class="number">3,820</td>
 <td class="number">3,825</td>
 <td class="number">4,766</td>
 <td class="number">N/A</td>
 <td class="number">N/A</td>
 </tr>,
 <tr>
 <td class="no">22</td>
 <td><a class="tltle" href="/item/main.naver?code=364980">TIGER 2차전지TOP10</a></td>
 <td class="number">7,910</td>
 <td class="number">
 <em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
 				145
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 nv01">
 				-1.80%
 				</span>
 </td>
 <td class="number">5,183,431</td>
 <td class="number">41,257</td>
 <td class="number">7,910</td>
 <td class="number">7,920</td>
 <td class="number">3,706</td>
 <td class="number">N/A</td>
 <td class="number">N/A</td>
 </tr>,
 <tr>
 <td class="no">23</td>
 <td><a class="tltle" href="/item/main.naver?code=004410">서울식품</a></td>
 <td class="number">168</td>
 <td class="number">
 <em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
 				1
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 nv01">
 				-0.59%
 				</span>
 </td>
 <td class="number">5,058,386</td>
 <td class="number">838</td>
 <td class="number">167</td>
 <td class="number">168</td>
 <td class="number">630</td>
 <td class="number">-18.67</td>
 <td class="number">-12.02</td>
 </tr>,
 <tr>
 <td class="no">24</td>
 <td><a class="tltle" href="/item/main.naver?code=498400">KODEX 200타겟위클리커버드콜</a></td>
 <td class="number">10,980</td>
 <td class="number">
 <em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
 				200
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 nv01">
 				-1.79%
 				</span>
 </td>
 <td class="number">4,962,931</td>
 <td class="number">54,939</td>
 <td class="number">10,975</td>
 <td class="number">10,980</td>
 <td class="number">5,391</td>
 <td class="number">N/A</td>
 <td class="number">N/A</td>
 </tr>,
 <tr>
 <td class="no">25</td>
 <td><a class="tltle" href="/item/main.naver?code=530107">삼성 인버스 2X 코스닥150 선물 ETN</a></td>
 <td class="number">5,735</td>
 <td class="number">
 <em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
 				315
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 red01">
 				+5.81%
 				</span>
 </td>
 <td class="number">4,757,289</td>
 <td class="number">26,664</td>
 <td class="number">5,730</td>
 <td class="number">5,735</td>
 <td class="number">2,294</td>
 <td class="number">N/A</td>
 <td class="number">N/A</td>
 </tr>,
 <tr><td class="blank_06" colspan="12"></td></tr>,
 <tr><td class="division_line" colspan="12"></td></tr>,
 <tr><td class="blank_08" colspan="12"></td></tr>,
 <tr>
 <td class="no">26</td>
 <td><a class="tltle" href="/item/main.naver?code=305720">KODEX 2차전지산업</a></td>
 <td class="number">11,445</td>
 <td class="number">
 <em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
 				30
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 nv01">
 				-0.26%
 				</span>
 </td>
 <td class="number">4,584,674</td>
 <td class="number">52,420</td>
 <td class="number">11,440</td>
 <td class="number">11,445</td>
 <td class="number">9,969</td>
 <td class="number">N/A</td>
 <td class="number">N/A</td>
 </tr>,
 <tr>
 <td class="no">27</td>
 <td><a class="tltle" href="/item/main.naver?code=530036">삼성 인버스 2X WTI원유 선물 ETN</a></td>
 <td class="number">78</td>
 <td class="number">
 <em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
 				1
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 red01">
 				+1.30%
 				</span>
 </td>
 <td class="number">4,468,967</td>
 <td class="number">346</td>
 <td class="number">77</td>
 <td class="number">78</td>
 <td class="number">1,168</td>
 <td class="number">N/A</td>
 <td class="number">N/A</td>
 </tr>,
 <tr>
 <td class="no">28</td>
 <td><a class="tltle" href="/item/main.naver?code=005320">온타이드</a></td>
 <td class="number">610</td>
 <td class="number">
 <em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
 				64
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 nv01">
 				-9.50%
 				</span>
 </td>
 <td class="number">4,400,999</td>
 <td class="number">2,708</td>
 <td class="number">610</td>
 <td class="number">611</td>
 <td class="number">412</td>
 <td class="number">50.83</td>
 <td class="number">-3.35</td>
 </tr>,
 <tr>
 <td class="no">29</td>
 <td><a class="tltle" href="/item/main.naver?code=003280">흥아해운</a></td>
 <td class="number">1,805</td>
 <td class="number">
 <em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
 				8
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 nv01">
 				-0.44%
 				</span>
 </td>
 <td class="number">4,333,858</td>
 <td class="number">7,835</td>
 <td class="number">1,805</td>
 <td class="number">1,807</td>
 <td class="number">4,340</td>
 <td class="number">11.35</td>
 <td class="number">20.08</td>
 </tr>,
 <tr>
 <td class="no">30</td>
 <td><a class="tltle" href="/item/main.naver?code=009830">한화솔루션</a></td>
 <td class="number">36,450</td>
 <td class="number">
 <em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
 				150
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 red01">
 				+0.41%
 				</span>
 </td>
 <td class="number">4,204,743</td>
 <td class="number">154,347</td>
 <td class="number">36,400</td>
 <td class="number">36,450</td>
 <td class="number">62,655</td>
 <td class="number">-6.43</td>
 <td class="number">-15.99</td>
 </tr>,
 <tr><td class="blank_06" colspan="12"></td></tr>,
 <tr><td class="division_line" colspan="12"></td></tr>,
 <tr><td class="blank_08" colspan="12"></td></tr>,
 <tr>
 <td class="no">31</td>
 <td><a class="tltle" href="/item/main.naver?code=011200">HMM</a></td>
 <td class="number">24,300</td>
 <td class="number">
 <em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
 				400
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 red01">
 				+1.67%
 				</span>
 </td>
 <td class="number">4,092,417</td>
 <td class="number">100,847</td>
 <td class="number">24,300</td>
 <td class="number">24,350</td>
 <td class="number">249,085</td>
 <td class="number">4.79</td>
 <td class="number">15.35</td>
 </tr>,
 <tr>
 <td class="no">32</td>
 <td><a class="tltle" href="/item/main.naver?code=095720">웅진씽크빅</a></td>
 <td class="number">2,095</td>
 <td class="number">
 <em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
 				129
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 red01">
 				+6.56%
 				</span>
 </td>
 <td class="number">4,080,881</td>
 <td class="number">8,605</td>
 <td class="number">2,095</td>
 <td class="number">2,100</td>
 <td class="number">2,420</td>
 <td class="number">-9.70</td>

In [18]:
# 2. 전일 내비 상승한 종목

result = []

for row in rows:
    columns = row.select('td')
    if len(columns) > 1:
        change_tag = row.select_one('td .blind')
        if change_tag and change_tag.text.strip() == '상승':
            name = columns[1].text.strip()
            price = columns[2].text.strip()
            result.append({'name': name, 'price': price})

result

[{'name': 'KODEX 200선물인버스2X', 'price': '1,435'},
 {'name': 'KODEX 인버스', 'price': '3,640'},
 {'name': 'KODEX 코스닥150선물인버스', 'price': '3,675'},
 {'name': 'LG헬로비전', 'price': '3,315'},
 {'name': '한국전력', 'price': '36,900'},
 {'name': '형지엘리트', 'price': '3,200'},
 {'name': '한국가스공사', 'price': '47,350'},
 {'name': 'TIGER 2차전지소재Fn', 'price': '3,825'},
 {'name': '삼성 인버스 2X 코스닥150 선물 ETN', 'price': '5,735'},
 {'name': '삼성 인버스 2X WTI원유 선물 ETN', 'price': '78'},
 {'name': '한화솔루션', 'price': '36,450'},
 {'name': 'HMM', 'price': '24,300'},
 {'name': '웅진씽크빅', 'price': '2,095'},
 {'name': '동방', 'price': '3,000'},
 {'name': 'TIGER 200선물인버스2X', 'price': '1,520'},
 {'name': 'ACE 테슬라밸류체인액티브', 'price': '14,540'},
 {'name': 'KODEX 미국S&P500', 'price': '19,505'},
 {'name': 'TIGER 미국S&P500', 'price': '21,190'},
 {'name': '삼성E&A', 'price': '23,900'},
 {'name': 'KODEX 2차전지핵심소재10', 'price': '3,905'},
 {'name': '콜마홀딩스', 'price': '17,030'},
 {'name': '강원랜드', 'price': '19,790'},
 {'name': 'BNK금융지주', 'price': '13,400'},
 {'name': 'YG PLUS', 'price': '8,330'},
 {'name': '인디에프', 'price': '1,439'},
 {'name': '이수페타시스', 'price': '53,400'},
 {'name': 'TIGER 미국테크TOP10 INDXX', 'price': '24,470'},
 {'name': '파라다이스', 'price': '16,020'},
 {'name': 'ACE 포스코그룹포커스', 'price': '5,120'},
 {'name': '카카오페이', 'price': '79,100'}]

In [42]:
# 네이버 뉴스 크롤링 

res = requests.get("https://news.naver.com/main/list.naver?mode=LPOD&mid=sec&oid=001")
soup = BeautifulSoup(res.text, 'html.parser')
soup.select('.type06_headline li')

[<li>
 <dl>
 <dt class="photo">
 <a class="nclicks(cnt_flashart)" href="https://n.news.naver.com/mnews/article/001/0015490711">
 <img alt="태안 앞바다서 레저보트 전복…승선원 3명 구조" height="72" onerror="javascript:this.src='https://ssl.pstatic.net/static.news/image/news/2009/noimage_106x72.png';" src="https://imgnews.pstatic.net/image/origin/001/2025/07/06/15490711.jpg?type=nf106_72" width="106"/>
 </a>
 </dt>
 <dt>
 <a class="nclicks(cnt_flashart)" href="https://n.news.naver.com/mnews/article/001/0015490711">
 								 태안 앞바다서 레저보트 전복…승선원 3명 구조
 								</a>
 </dt>
 <dd>
 <span class="lede">6일 오후 1시 46분께 충남 태안군 어은돌항 인근 해안에서 레저보트가 전복됐다는 신고가 태안해양경찰서로 접수됐다. 연안 구조정 …</span>
 <span class="writing">연합뉴스</span>
 <span class="date is_new">1분전</span>
 </dd>
 </dl>
 </li>,
 <li>
 <dl>
 <dt class="photo">
 <a class="nclicks(cnt_flashart)" href="https://n.news.naver.com/mnews/article/001/0015490710">
 <img alt="이틀 남은 '상호관세 시한폭탄'…美 유예연장 여부에 쏠린 눈" height="72" onerror="javascript:this.src='https://ssl.pstatic.net/static.news/image/news/2009/noimage_106x72.png';" src="https://imgnews.pstatic.net/image/origin/001/2025/07/06/15490710.jpg?type=nf106_72" width="106"/>
 </a>
 </dt>
 <dt>
 <a class="nclicks(cnt_flashart)" href="https://n.news.naver.com/mnews/article/001/0015490710">
 								 이틀 남은 '상호관세 시한폭탄'…美 유예연장 여부에 쏠린 눈
 								</a>
 </dt>
 <dd>
 <span class="lede">통상본부장, '제조업 협력' 로드맵 제시하며 미측과 상호관세 유예연장 논의 '연장 불발' 가능성도 배제 못해…전문가 "협상은 계 …</span>
 <span class="writing">연합뉴스</span>
 <span class="date is_new">2분전</span>
 </dd>
 </dl>
 </li>,
 <li>
 <dl>
 <dt class="photo">
 <a class="nclicks(cnt_flashart)" href="https://n.news.naver.com/mnews/article/001/0015490709">
 <img alt='金총리 "대통령실 포함 당정은 한몸…국민 살리는 각오 전력투구"' height="72" onerror="javascript:this.src='https://ssl.pstatic.net/static.news/image/news/2009/noimage_106x72.png';" src="https://imgnews.pstatic.net/image/origin/001/2025/07/06/15490709.jpg?type=nf106_72" width="106"/>
 </a>
 </dt>
 <dt>
 <a class="nclicks(cnt_flashart)" href="https://n.news.naver.com/mnews/article/001/0015490709">
 								 金총리 "대통령실 포함 당정은 한몸…국민 살리는 각오 전력투구"
 								</a>
 </dt>
 <dd>
 <span class="lede">李정부 첫 고위당정협의회 주재…추경 후 민생지원·폭염대책 논의 "나라 살리려면 국정성공外 대안없다…한 명의 약자도 놓치지 말아야 …</span>
 <span class="writing">연합뉴스</span>
 <span class="date is_new">5분전</span>
 </dd>
 </dl>
 </li>,
 <li>
 <dl>
 <dt class="photo">
 <a class="nclicks(cnt_flashart)" href="https://n.news.naver.com/mnews/article/001/0015490708">
 <img alt="주말 지역 당심잡기 나선 정청래·박찬대 의원" height="72" onerror="javascript:this.src='https://ssl.pstatic.net/static.news/image/news/2009/noimage_106x72.png';" src="https://imgnews.pstatic.net/image/origin/001/2025/07/06/15490708.jpg?type=nf106_72" width="106"/>
 </a>
 </dt>
 <dt>
 <a class="nclicks(cnt_flashart)" href="https://n.news.naver.com/mnews/article/001/0015490708">
 								 주말 지역 당심잡기 나선 정청래·박찬대 의원
 								</a>
 </dt>
 <dd>
 <span class="lede">정경재·정다움 기자 = 더불어민주당 당 대표 선거에 출마한 정청래 의원(오른쪽)과 박찬대 의원은 주말 지역 당원들과 만나 본격적 …</span>
 <span class="writing">연합뉴스</span>
 <span class="date is_new">6분전</span>
 </dd>
 </dl>
 </li>,
 <li>
 <dl>
 <dt class="photo">
 <a class="nclicks(cnt_flashart)" href="https://n.news.naver.com/mnews/article/001/0015490707">
 <img alt="Two-term lawmaker named new presidential secretary for political affairs" height="72" onerror="javascript:this.src='https://ssl.pstatic.net/static.news/image/news/2009/noimage_106x72.png';" src="https://imgnews.pstatic.net/image/origin/001/2025/07/06/15490707.jpg?type=nf106_72" width="106"/>
 </a>
 </dt>
 <dt>
 <a class="nclicks(cnt_flashart)" href="https://n.news.naver.com/mnews/article/001/0015490707">
 								 Two-term lawmaker named new presidential secretary for political affairs
 								</a>
 </dt>
 <dd>
 <span class="lede">presidential secretary-appointment Two-term lawmaker named new presiden …</span>
 <span class="writing">연합뉴스</span>
 <span class="date is_new">6분전</span>
 </dd>
 </dl>
 </li>,
 <li>
 <dl>
 <dt class="photo">
 <a class="nclicks(cnt_flashart)" href="https://n.news.naver.com/mnews/article/001/0015490706">
 <img alt="'사망 51· 실종 27명' 美텍사스 폭우…당국 안일 대처 도마 위" height="72" onerror="javascript:this.src='https://ssl.pstatic.net/static.news/image/news/2009/noimage_106x72.png';" src="https://imgnews.pstatic.net/image/origin/001/2025/07/06/15490706.jpg?type=nf106_72" width="106"/>
 </a>
 </dt>
 <dt>
 <a class="nclicks(cnt_flashart)" href="https://n.news.naver.com/mnews/article/001/0015490706">
 								 '사망 51· 실종 27명' 美텍사스 폭우…당국 안일 대처 도마 위
 								</a>
 </dt>
 <dd>
 <span class="lede">"돌발 홍수 가능성 수시간 전 경고…대피 조치 시간 충분했다" 미국 텍사스 폭우 사망자가 급증하고 있는 가운데, 행정 당국의 늑 …</span>
 <span class="writing">연합뉴스</span>
 <span class="date is_new">9분전</span>
 </dd>
 </dl>
 </li>,
 <li>
 <dl>
 <dt class="photo">
 <a class="nclicks(cnt_flashart)" href="https://n.news.naver.com/mnews/article/001/0015490705">
 <img alt='국방추경 삭감 공방…野 "안보예산 빼 현금살포"·與 "거짓선동"' height="72" onerror="javascript:this.src='https://ssl.pstatic.net/static.news/image/news/2009/noimage_106x72.png';" src="https://imgnews.pstatic.net/image/origin/001/2025/07/06/15490705.jpg?type=nf106_72" width="106"/>
 </a>
 </dt>
 <dt>
 <a class="nclicks(cnt_flashart)" href="https://n.news.naver.com/mnews/article/001/0015490705">
 								 국방추경 삭감 공방…野 "안보예산 빼 현금살포"·與 "거짓선동"
 								</a>
 </dt>
 <dd>
 <span class="lede">국힘 "국민 지킬 국방예산 줄여…李대통령, 특활비 부활 사과해야" 민주 "감액분은 불용예산이기 때문…국힘 특활비 언급할 낯 없어 …</span>
 <span class="writing">연합뉴스</span>
 <span class="date is_new">12분전</span>
 </dd>
 </dl>
 </li>,
 <li>
 <dl>
 <dt class="photo">
 <a class="nclicks(cnt_flashart)" href="https://n.news.naver.com/mnews/article/001/0015490704">
 <img alt="'크루즈 타고 북해도로' 강원도, 체험단 모집에 경쟁률 9.4대1" height="72" onerror="javascript:this.src='https://ssl.pstatic.net/static.news/image/news/2009/noimage_106x72.png';" src="https://imgnews.pstatic.net/image/origin/001/2025/07/06/15490704.jpg?type=nf106_72" width="106"/>
 </a>
 </dt>
 <dt>
 <a class="nclicks(cnt_flashart)" href="https://n.news.naver.com/mnews/article/001/0015490704">
 								 '크루즈 타고 북해도로' 강원도, 체험단 모집에 경쟁률 9.4대1
 								</a>
 </dt>
 <dd>
 <span class="lede">선정된 200명 50% 할인…미선정자 위해 30% 할인 혜택 기회 제공 강원특별자치도와 속초시가 추진하는 크루즈 체험단 모집 경 …</span>
 <span class="writing">연합뉴스</span>
 <span class="date is_new">15분전</span>
 </dd>
 </dl>
 </li>,
 <li>
 <dl>
 <dt class="photo">
 <a class="nclicks(cnt_flashart)" href="https://n.news.naver.com/mnews/article/001/0015490703">
 <img alt="모두의 광장 AI 기능 시연" height="72" onerror="javascript:this.src='https://ssl.pstatic.net/static.news/image/news/2009/noimage_106x72.png';" src="https://imgnews.pstatic.net/image/origin/001/2025/07/06/15490703.jpg?type=nf106_72" width="106"/>
 </a>
 </dt>
 <dt>
 <a class="nclicks(cnt_flashart)" href="https://n.news.naver.com/mnews/article/001/0015490703">
 								 모두의 광장 AI 기능 시연
 								</a>
 </dt>
 <dd>
 <span class="lede">6일 서울 종로구 국정기획위원회에서 우제원 기획위원이 모두의 광장 AI 기능 탑재 관련 시연을 하고 있다. 2025.7.6</span>
 <span class="writing">연합뉴스</span>
 <span class="date is_new">16분전</span>
 </dd>
 </dl>
 </li>,
 <li>
 <dl>
 <dt class="photo">
 <a class="nclicks(cnt_flashart)" href="https://n.news.naver.com/mnews/article/001/0015490702">
 <img alt="모두의 광장 AI 기능 시연" height="72" onerror="javascript:this.src='https://ssl.pstatic.net/static.news/image/news/2009/noimage_106x72.png';" src="https://imgnews.pstatic.net/image/origin/001/2025/07/06/15490702.jpg?type=nf106_72" width="106"/>
 </a>
 </dt>
 <dt>
 <a class="nclicks(cnt_flashart)" href="https://n.news.naver.com/mnews/article/001/0015490702">
 								 모두의 광장 AI 기능 시연
 								</a>
 </dt>
 <dd>
 <span class="lede">6일 서울 종로구 국정기획위원회에서 우제원 기획위원이 모두의 광장 AI 기능 탑재 관련 시연을 하고 있다. 2025.7.6</span>
 <span class="writing">연합뉴스</span>
 <span class="date is_new">16분전</span>
 </dd>
 </dl>
 </li>]

In [ ]:
from datetime import datetime, timedelta
yesterday = (datetime.now() - timedelta(days=1)).strftime('%Y%m%d')