In [1]:
from bs4 import BeautifulSoup
import requests

In [ ]:
# 실습 1. 네이버 주가 크롤링

res = requests.get("https://finance.naver.com/sise/sise_quant.nhn")

In [ ]:
res.status_code # 200
res.text.find('KODEX 인버스') 
# 정적웹

36790

In [5]:
soup = BeautifulSoup(res.text, 'html.parser')

In [7]:
soup.select('tr')[-4]

<tr>
<td class="no">100</td>
<td><a class="tltle" href="/item/main.naver?code=494310">KODEX 반도체레버리지</a></td>
<td class="number">11,040</td>
<td class="number">
<em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
				280
				</span>
</td>
<td class="number">
<span class="tah p11 nv01">
				-2.47%
				</span>
</td>
<td class="number">633,128</td>
<td class="number">7,036</td>
<td class="number">11,030</td>
<td class="number">11,045</td>
<td class="number">999</td>
<td class="number">N/A</td>
<td class="number">N/A</td>
</tr>

In [15]:
table = soup.select_one('table.type_2')
rows = table.select('tr')[2:]
rows

[<tr>
 <td class="no">1</td>
 <td><a class="tltle" href="/item/main.naver?code=252670">KODEX 200선물인버스2X</a></td>
 <td class="number">1,432</td>
 <td class="number">
 <em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
 				3
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 nv01">
 				-0.21%
 				</span>
 </td>
 <td class="number">207,729,772</td>
 <td class="number">298,378</td>
 <td class="number">1,435</td>
 <td class="number">1,436</td>
 <td class="number">14,205</td>
 <td class="number">N/A</td>
 <td class="number">N/A</td>
 </tr>,
 <tr>
 <td class="no">2</td>
 <td><a class="tltle" href="/item/main.naver?code=114800">KODEX 인버스</a></td>
 <td class="number">3,645</td>
 <td class="number">
 <em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
 				5
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 red01">
 				+0.14%
 				</span>
 </td>
 <td class="number">28,758,185</td>
 <td class="number">104,924</td>
 <td class="number">3,645</td>
 <td class="number">3,650</td>
 <td class="number">6,623</td>
 <td class="number">N/A</td>
 <td class="number">N/A</td>
 </tr>,
 <tr>
 <td class="no">3</td>
 <td><a class="tltle" href="/item/main.naver?code=462330">KODEX 2차전지산업레버리지</a></td>
 <td class="number">965</td>
 <td class="number">
 <em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
 				10
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 nv01">
 				-1.03%
 				</span>
 </td>
 <td class="number">22,593,622</td>
 <td class="number">21,778</td>
 <td class="number">970</td>
 <td class="number">971</td>
 <td class="number">2,642</td>
 <td class="number">N/A</td>
 <td class="number">N/A</td>
 </tr>,
 <tr>
 <td class="no">4</td>
 <td><a class="tltle" href="/item/main.naver?code=004140">동방</a></td>
 <td class="number">3,370</td>
 <td class="number">
 <em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
 				370
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 red01">
 				+12.33%
 				</span>
 </td>
 <td class="number">20,704,969</td>
 <td class="number">68,259</td>
 <td class="number">3,395</td>
 <td class="number">3,400</td>
 <td class="number">1,617</td>
 <td class="number">10.03</td>
 <td class="number">13.73</td>
 </tr>,
 <tr>
 <td class="no">5</td>
 <td><a class="tltle" href="/item/main.naver?code=251340">KODEX 코스닥150선물인버스</a></td>
 <td class="number">3,675</td>
 <td class="number">
 <em class="bu_p bu_pn"><span class="blind">보합</span></em><span class="tah p11">0</span>
 </td>
 <td class="number">
 <span class="tah p11">0.00%</span>
 </td>
 <td class="number">14,840,836</td>
 <td class="number">54,629</td>
 <td class="number">3,670</td>
 <td class="number">3,675</td>
 <td class="number">2,558</td>
 <td class="number">N/A</td>
 <td class="number">N/A</td>
 </tr>,
 <tr><td class="blank_06" colspan="12"></td></tr>,
 <tr><td class="division_line" colspan="12"></td></tr>,
 <tr><td class="blank_08" colspan="12"></td></tr>,
 <tr>
 <td class="no">6</td>
 <td><a class="tltle" href="/item/main.naver?code=122630">KODEX 레버리지</a></td>
 <td class="number">22,920</td>
 <td class="number">
 <em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
 				20
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 red01">
 				+0.09%
 				</span>
 </td>
 <td class="number">14,747,721</td>
 <td class="number">337,312</td>
 <td class="number">22,875</td>
 <td class="number">22,880</td>
 <td class="number">27,424</td>
 <td class="number">N/A</td>
 <td class="number">N/A</td>
 </tr>,
 <tr>
 <td class="no">7</td>
 <td><a class="tltle" href="/item/main.naver?code=233740">KODEX 코스닥150레버리지</a></td>
 <td class="number">7,885</td>
 <td class="number">
 <em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
 				15
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 red01">
 				+0.19%
 				</span>
 </td>
 <td class="number">14,157,746</td>
 <td class="number">111,035</td>
 <td class="number">7,880</td>
 <td class="number">7,885</td>
 <td class="number">18,885</td>
 <td class="number">N/A</td>
 <td class="number">N/A</td>
 </tr>,
 <tr>
 <td class="no">8</td>
 <td><a class="tltle" href="/item/main.naver?code=008970">동양철관</a></td>
 <td class="number">1,476</td>
 <td class="number">
 <em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
 				25
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 nv01">
 				-1.67%
 				</span>
 </td>
 <td class="number">11,604,897</td>
 <td class="number">17,370</td>
 <td class="number">1,472</td>
 <td class="number">1,473</td>
 <td class="number">2,359</td>
 <td class="number">-10.18</td>
 <td class="number">-20.13</td>
 </tr>,
 <tr>
 <td class="no">9</td>
 <td><a class="tltle" href="/item/main.naver?code=005930">삼성전자</a></td>
 <td class="number">62,400</td>
 <td class="number">
 <em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
 				900
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 nv01">
 				-1.42%
 				</span>
 </td>
 <td class="number">6,811,218</td>
 <td class="number">426,269</td>
 <td class="number">62,700</td>
 <td class="number">62,800</td>
 <td class="number">3,693,854</td>
 <td class="number">12.09</td>
 <td class="number">9.03</td>
 </tr>,
 <tr>
 <td class="no">10</td>
 <td><a class="tltle" href="/item/main.naver?code=530036">삼성 인버스 2X WTI원유 선물 ETN</a></td>
 <td class="number">79</td>
 <td class="number">
 <em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
 				1
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 red01">
 				+1.28%
 				</span>
 </td>
 <td class="number">5,586,432</td>
 <td class="number">441</td>
 <td class="number">79</td>
 <td class="number">80</td>
 <td class="number">1,183</td>
 <td class="number">N/A</td>
 <td class="number">N/A</td>
 </tr>,
 <tr><td class="blank_06" colspan="12"></td></tr>,
 <tr><td class="division_line" colspan="12"></td></tr>,
 <tr><td class="blank_08" colspan="12"></td></tr>,
 <tr>
 <td class="no">11</td>
 <td><a class="tltle" href="/item/main.naver?code=009070">KCTC</a></td>
 <td class="number">6,280</td>
 <td class="number">
 <em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
 				190
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 red01">
 				+3.12%
 				</span>
 </td>
 <td class="number">5,470,786</td>
 <td class="number">35,012</td>
 <td class="number">6,370</td>
 <td class="number">6,380</td>
 <td class="number">1,884</td>
 <td class="number">8.98</td>
 <td class="number">9.06</td>
 </tr>,
 <tr>
 <td class="no">12</td>
 <td><a class="tltle" href="/item/main.naver?code=069500">KODEX 200</a></td>
 <td class="number">41,510</td>
 <td class="number">
 <em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
 				20
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 red01">
 				+0.05%
 				</span>
 </td>
 <td class="number">5,032,235</td>
 <td class="number">208,704</td>
 <td class="number">41,490</td>
 <td class="number">41,495</td>
 <td class="number">65,752</td>
 <td class="number">N/A</td>
 <td class="number">N/A</td>
 </tr>,
 <tr>
 <td class="no">13</td>
 <td><a class="tltle" href="/item/main.naver?code=228790">TIGER 화장품</a></td>
 <td class="number">3,980</td>
 <td class="number">
 <em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
 				125
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 red01">
 				+3.24%
 				</span>
 </td>
 <td class="number">4,607,372</td>
 <td class="number">18,190</td>
 <td class="number">3,965</td>
 <td class="number">3,970</td>
 <td class="number">2,655</td>
 <td class="number">N/A</td>
 <td class="number">N/A</td>
 </tr>,
 <tr>
 <td class="no">14</td>
 <td><a class="tltle" href="/item/main.naver?code=003280">흥아해운</a></td>
 <td class="number">1,810</td>
 <td class="number">
 <em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
 				5
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 red01">
 				+0.28%
 				</span>
 </td>
 <td class="number">4,248,605</td>
 <td class="number">7,709</td>
 <td class="number">1,800</td>
 <td class="number">1,801</td>
 <td class="number">4,352</td>
 <td class="number">11.38</td>
 <td class="number">20.08</td>
 </tr>,
 <tr>
 <td class="no">15</td>
 <td><a class="tltle" href="/item/main.naver?code=252710">TIGER 200선물인버스2X</a></td>
 <td class="number">1,519</td>
 <td class="number">
 <em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
 				1
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 nv01">
 				-0.07%
 				</span>
 </td>
 <td class="number">4,179,344</td>
 <td class="number">6,368</td>
 <td class="number">1,520</td>
 <td class="number">1,521</td>
 <td class="number">700</td>
 <td class="number">N/A</td>
 <td class="number">N/A</td>
 </tr>,
 <tr><td class="blank_06" colspan="12"></td></tr>,
 <tr><td class="division_line" colspan="12"></td></tr>,
 <tr><td class="blank_08" colspan="12"></td></tr>,
 <tr>
 <td class="no">16</td>
 <td><a class="tltle" href="/item/main.naver?code=412570">TIGER 2차전지TOP10레버리지</a></td>
 <td class="number">1,108</td>
 <td class="number">
 <em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
 				3
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 red01">
 				+0.27%
 				</span>
 </td>
 <td class="number">3,783,139</td>
 <td class="number">4,174</td>
 <td class="number">1,114</td>
 <td class="number">1,117</td>
 <td class="number">910</td>
 <td class="number">N/A</td>
 <td class="number">N/A</td>
 </tr>,
 <tr>
 <td class="no">17</td>
 <td><a class="tltle" href="/item/main.naver?code=034020">두산에너빌리티</a></td>
 <td class="number">59,800</td>
 <td class="number">
 <em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
 				200
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 nv01">
 				-0.33%
 				</span>
 </td>
 <td class="number">3,726,450</td>
 <td class="number">223,281</td>
 <td class="number">59,300</td>
 <td class="number">59,400</td>
 <td class="number">383,056</td>
 <td class="number">-376.10</td>
 <td class="number">1.52</td>
 </tr>,
 <tr>
 <td class="no">18</td>
 <td><a class="tltle" href="/item/main.naver?code=364980">TIGER 2차전지TOP10</a></td>
 <td class="number">7,940</td>
 <td class="number">
 <em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
 				30
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 red01">
 				+0.38%
 				</span>
 </td>
 <td class="number">3,470,555</td>
 <td class="number">27,475</td>
 <td class="number">7,960</td>
 <td class="number">7,965</td>
 <td class="number">3,744</td>
 <td class="number">N/A</td>
 <td class="number">N/A</td>
 </tr>,
 <tr>
 <td class="no">19</td>
 <td><a class="tltle" href="/item/main.naver?code=004410">서울식품</a></td>
 <td class="number">170</td>
 <td class="number">
 <em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
 				2
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 red01">
 				+1.19%
 				</span>
 </td>
 <td class="number">3,086,307</td>
 <td class="number">529</td>
 <td class="number">169</td>
 <td class="number">170</td>
 <td class="number">637</td>
 <td class="number">-18.89</td>
 <td class="number">-12.02</td>
 </tr>,
 <tr>
 <td class="no">20</td>
 <td><a class="tltle" href="/item/main.naver?code=462010">TIGER 2차전지소재Fn</a></td>
 <td class="number">3,760</td>
 <td class="number">
 <em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
 				65
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 nv01">
 				-1.70%
 				</span>
 </td>
 <td class="number">2,952,371</td>
 <td class="number">11,142</td>
 <td class="number">3,765</td>
 <td class="number">3,770</td>
 <td class="number">4,679</td>
 <td class="number">N/A</td>
 <td class="number">N/A</td>
 </tr>,
 <tr><td class="blank_06" colspan="12"></td></tr>,
 <tr><td class="division_line" colspan="12"></td></tr>,
 <tr><td class="blank_08" colspan="12"></td></tr>,
 <tr>
 <td class="no">21</td>
 <td><a class="tltle" href="/item/main.naver?code=037560">LG헬로비전</a></td>
 <td class="number">2,980</td>
 <td class="number">
 <em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
 				335
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 nv01">
 				-10.11%
 				</span>
 </td>
 <td class="number">2,883,694</td>
 <td class="number">8,698</td>
 <td class="number">2,980</td>
 <td class="number">2,985</td>
 <td class="number">2,308</td>
 <td class="number">-2.20</td>
 <td class="number">-21.05</td>
 </tr>,
 <tr>
 <td class="no">22</td>
 <td><a class="tltle" href="/item/main.naver?code=457480">ACE 테슬라밸류체인액티브</a></td>
 <td class="number">13,665</td>
 <td class="number">
 <em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
 				875
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 nv01">
 				-6.02%
 				</span>
 </td>
 <td class="number">2,864,709</td>
 <td class="number">39,263</td>
 <td class="number">13,660</td>
 <td class="number">13,665</td>
 <td class="number">9,518</td>
 <td class="number">N/A</td>
 <td class="number">N/A</td>
 </tr>,
 <tr>
 <td class="no">23</td>
 <td><a class="tltle" href="/item/main.naver?code=010140">삼성중공업</a></td>
 <td class="number">15,980</td>
 <td class="number">
 <em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
 				260
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 red01">
 				+1.65%
 				</span>
 </td>
 <td class="number">2,755,238</td>
 <td class="number">43,893</td>
 <td class="number">15,870</td>
 <td class="number">15,880</td>
 <td class="number">140,624</td>
 <td class="number">96.27</td>
 <td class="number">1.77</td>
 </tr>,
 <tr>
 <td class="no">24</td>
 <td><a class="tltle" href="/item/main.naver?code=229200">KODEX 코스닥150</a></td>
 <td class="number">12,557</td>
 <td class="number">
 <em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
 				32
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 red01">
 				+0.26%
 				</span>
 </td>
 <td class="number">2,454,237</td>
 <td class="number">30,710</td>
 <td class="number">12,550</td>
 <td class="number">12,555</td>
 <td class="number">13,059</td>
 <td class="number">N/A</td>
 <td class="number">N/A</td>
 </tr>,
 <tr>
 <td class="no">25</td>
 <td><a class="tltle" href="/item/main.naver?code=015760">한국전력</a></td>
 <td class="number">37,000</td>
 <td class="number">
 <em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
 				100
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 red01">
 				+0.27%
 				</span>
 </td>
 <td class="number">2,451,714</td>
 <td class="number">91,805</td>
 <td class="number">36,900</td>
 <td class="number">36,950</td>
 <td class="number">237,527</td>
 <td class="number">4.52</td>
 <td class="number">9.22</td>
 </tr>,
 <tr><td class="blank_06" colspan="12"></td></tr>,
 <tr><td class="division_line" colspan="12"></td></tr>,
 <tr><td class="blank_08" colspan="12"></td></tr>,
 <tr>
 <td class="no">26</td>
 <td><a class="tltle" href="/item/main.naver?code=006220">제주은행</a></td>
 <td class="number">15,060</td>
 <td class="number">
 <em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
 				1,240
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 red01">
 				+8.97%
 				</span>
 </td>
 <td class="number">2,432,546</td>
 <td class="number">36,309</td>
 <td class="number">14,750</td>
 <td class="number">14,760</td>
 <td class="number">5,692</td>
 <td class="number">53.98</td>
 <td class="number">1.85</td>
 </tr>,
 <tr>
 <td class="no">27</td>
 <td><a class="tltle" href="/item/main.naver?code=002700">신일전자</a></td>
 <td class="number">1,578</td>
 <td class="number">
 <em class="bu_p bu_pn"><span class="blind">보합</span></em><span class="tah p11">0</span>
 </td>
 <td class="number">
 <span class="tah p11">0.00%</span>
 </td>
 <td class="number">2,426,289</td>
 <td class="number">3,867</td>
 <td class="number">1,581</td>
 <td class="number">1,585</td>
 <td class="number">1,121</td>
 <td class="number">65.75</td>
 <td class="number">1.76</td>
 </tr>,
 <tr>
 <td class="no">28</td>
 <td><a class="tltle" href="/item/main.naver?code=530107">삼성 인버스 2X 코스닥150 선물 ETN</a></td>
 <td class="number">5,705</td>
 <td class="number">
 <em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
 				30
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 nv01">
 				-0.52%
 				</span>
 </td>
 <td class="number">2,279,350</td>
 <td class="number">13,094</td>
 <td class="number">5,715</td>
 <td class="number">5,720</td>
 <td class="number">2,282</td>
 <td class="number">N/A</td>
 <td class="number">N/A</td>
 </tr>,
 <tr>
 <td class="no">29</td>
 <td><a class="tltle" href="/item/main.naver?code=305720">KODEX 2차전지산업</a></td>
 <td class="number">11,385</td>
 <td class="number">
 <em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
 				60
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 nv01">
 				-0.52%
 				</span>
 </td>
 <td class="number">2,246,514</td>
 <td class="number">25,554</td>
 <td class="number">11,405</td>
 <td class="number">11,415</td>
 <td class="number">9,916</td>
 <td class="number">N/A</td>
 <td class="number">N/A</td>
 </tr>,
 <tr>
 <td class="no">30</td>
 <td><a class="tltle" href="/item/main.naver?code=360750">TIGER 미국S&amp;P500</a></td>
 <td class="number">21,275</td>
 <td class="number">
 <em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
 				85
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 red01">
 				+0.40%
 				</span>
 </td>
 <td class="number">2,171,557</td>
 <td class="number">46,106</td>
 <td class="number">21,265</td>
 <td class="number">21,270</td>
 <td class="number">84,228</td>
 <td class="number">N/A</td>
 <td class="number">N/A</td>
 </tr>,
 <tr><td class="blank_06" colspan="12"></td></tr>,
 <tr><td class="division_line" colspan="12"></td></tr>,
 <tr><td class="blank_08" colspan="12"></td></tr>,
 <tr>
 <td class="no">31</td>
 <td><a class="tltle" href="/item/main.naver?code=006800">미래에셋증권</a></td>
 <td class="number">19,320</td>
 <td class="number">
 <em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
 				60
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 nv01">
 				-0.31%
 				</span>
 </td>
 <td class="number">2,106,429</td>
 <td class="number">40,915</td>
 <td class="number">19,330</td>
 <td class="number">19,340</td>
 <td class="number">110,185</td>
 <td class="number">14.16</td>
 <td class="number">7.94</td>
 </tr>,
 <tr>
 <td class="no">32</td>
 <td><a class="tltle" href="/item/main.naver?code=550043">N2 인버스 레버리지 WTI원유 선물 ETN(H)</a></td>
 <td class="number">62</td>
 <td class="number">
 <em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
 				2
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 red01">
 				+3.33%
 				</span>
 </td>
 <td class="number">2,096,714</td>
 <td class="number">129</td>
 <td class="number">61</td>
 <td class="number">62</td>
 <td class="number">93</td>
 <td class="number">N/A</td>
 <td class="number">N/A</td>
 </tr>,
 <tr>
 <td class="no">33</td>
 <td><a class="tltle" href="/item/main.naver?code=379800">KODEX 미국S&amp;P500</a></td>
 <td class="number">19,580</td>
 <td class="number">
 <em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
 				75
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 red01">

In [ ]:
# 다른 풀이 방법 
result = []

for row in rows:
    temp = {}
    # row.select_one('td:nth-child(3)')
    
    columns = row.select('td')
    columns[1].text # 종목명
    columns[2].text # 현재가
    columns[3] # 전일비

    name_tag = row.select_one('a.tltle')
    price_tag = row.select_one('td.number')
    if name_tag and price_tag:
        temp['name'] = name_tag.text
        temp['price'] = price_tag.text
        result.append(temp)
result

[{'name': 'KODEX 200선물인버스2X', 'price': '1,432'},
 {'name': 'KODEX 인버스', 'price': '3,645'},
 {'name': 'KODEX 2차전지산업레버리지', 'price': '965'},
 {'name': '동방', 'price': '3,370'},
 {'name': 'KODEX 코스닥150선물인버스', 'price': '3,675'},
 {'name': 'KODEX 레버리지', 'price': '22,920'},
 {'name': 'KODEX 코스닥150레버리지', 'price': '7,885'},
 {'name': '동양철관', 'price': '1,476'},
 {'name': '삼성전자', 'price': '62,400'},
 {'name': '삼성 인버스 2X WTI원유 선물 ETN', 'price': '79'},
 {'name': 'KCTC', 'price': '6,280'},
 {'name': 'KODEX 200', 'price': '41,510'},
 {'name': 'TIGER 화장품', 'price': '3,980'},
 {'name': '흥아해운', 'price': '1,810'},
 {'name': 'TIGER 200선물인버스2X', 'price': '1,519'},
 {'name': 'TIGER 2차전지TOP10레버리지', 'price': '1,108'},
 {'name': '두산에너빌리티', 'price': '59,800'},
 {'name': 'TIGER 2차전지TOP10', 'price': '7,940'},
 {'name': '서울식품', 'price': '170'},
 {'name': 'TIGER 2차전지소재Fn', 'price': '3,760'},
 {'name': 'LG헬로비전', 'price': '2,980'},
 {'name': 'ACE 테슬라밸류체인액티브', 'price': '13,665'},
 {'name': '삼성중공업', 'price': '15,980'},
 {'name': 'KODEX 코스닥150', 'price': '12,557'},
 {'name': '한국전력', 'price': '37,000'},
 {'name': '제주은행', 'price': '15,060'},
 {'name': '신일전자', 'price': '1,578'},
 {'name': '삼성 인버스 2X 코스닥150 선물 ETN', 'price': '5,705'},
 {'name': 'KODEX 2차전지산업', 'price': '11,385'},
 {'name': 'TIGER 미국S&P500', 'price': '21,275'},
 {'name': '미래에셋증권', 'price': '19,320'},
 {'name': 'N2 인버스 레버리지 WTI원유 선물 ETN(H)', 'price': '62'},
 {'name': 'KODEX 미국S&P500', 'price': '19,580'},
 {'name': '형지엘리트', 'price': '3,190'},
 {'name': 'TIGER 인터넷TOP10', 'price': '4,830'},
 {'name': '카카오', 'price': '60,700'},
 {'name': 'YG PLUS', 'price': '8,120'},
 {'name': 'KODEX 증권', 'price': '13,110'},
 {'name': '한컴라이프케어', 'price': '3,125'},
 {'name': 'SK증권', 'price': '664'},
 {'name': '평화홀딩스', 'price': '5,890'},
 {'name': '대한해운', 'price': '1,701'},
 {'name': 'KODEX 200타겟위클리커버드콜', 'price': '10,965'},
 {'name': 'SOL 조선TOP3플러스', 'price': '23,465'},
 {'name': '카카오페이', 'price': '82,400'},
 {'name': '한화솔루션', 'price': '35,900'},
 {'name': 'KODEX 2차전지핵심소재10', 'price': '3,855'},
 {'name': '신한 인버스 2X WTI원유 선물 ETN(H)', 'price': '68'},
 {'name': 'TIGER 200', 'price': '41,475'},
 {'name': '한국가스공사', 'price': '43,500'},
 {'name': '온타이드', 'price': '556'},
 {'name': 'ACE 미국30년국채액티브(H)', 'price': '7,675'},
 {'name': '현대제철', 'price': '35,650'},
 {'name': '써니전자', 'price': '1,862'},
 {'name': 'TIGER 코리아배당다우존스', 'price': '11,880'},
 {'name': 'TIGER 200 중공업', 'price': '9,955'},
 {'name': '씨아이테크', 'price': '1,304'},
 {'name': '대영포장', 'price': '1,214'},
 {'name': 'TIGER 은행고배당플러스TOP10', 'price': '18,930'},
 {'name': 'TIGER 2차전지테마', 'price': '14,235'},
 {'name': '한온시스템', 'price': '3,295'},
 {'name': 'SK텔레콤', 'price': '54,000'},
 {'name': 'KODEX 은행', 'price': '11,660'},
 {'name': 'ACE 미국30년국채액티브', 'price': '9,360'},
 {'name': 'TIGER Fn반도체TOP10', 'price': '11,580'},
 {'name': '현대로템', 'price': '183,300'},
 {'name': 'KODEX AI전력핵심설비', 'price': '13,960'},
 {'name': '한화투자증권', 'price': '6,160'},
 {'name': 'SK하이닉스', 'price': '265,500'},
 {'name': 'RISE 버크셔포트폴리오TOP10', 'price': '12,300'},
 {'name': 'HMM', 'price': '23,950'},
 {'name': 'PLUS 고배당주', 'price': '19,280'},
 {'name': 'KB 인버스 2X KOSDAQ 150 선물 ETN', 'price': '5,725'},
 {'name': '평화산업', 'price': '1,094'},
 {'name': '파라다이스', 'price': '16,740'},
 {'name': 'LG씨엔에스', 'price': '82,600'},
 {'name': 'TIGER 여행레저', 'price': '3,700'},
 {'name': '한화오션', 'price': '73,700'},
 {'name': 'TIGER 바이오TOP10', 'price': '7,650'},
 {'name': 'TIGER 테슬라채권혼합Fn', 'price': '13,080'},
 {'name': '오리엔트바이오', 'price': '784'},
 {'name': '체시스', 'price': '1,257'},
 {'name': 'TIGER 조선TOP10', 'price': '18,400'},
 {'name': 'NAVER', 'price': '259,000'},
 {'name': 'PLUS K방산', 'price': '44,605'},
 {'name': '신한지주', 'price': '65,600'},
 {'name': '동양생명', 'price': '7,800'},
 {'name': '엑시큐어하이트론', 'price': '657'},
 {'name': '웅진씽크빅', 'price': '2,115'},
 {'name': 'TIGER 미국30년국채커버드콜액티브(H)', 'price': '7,977'},
 {'name': 'KODEX 금융고배당TOP10타겟위클리커버드콜', 'price': '12,505'},
 {'name': 'TIGER 미국필라델피아반도체나스닥', 'price': '20,125'},
 {'name': '한국ANKOR유전', 'price': '251'},
 {'name': '인스코비', 'price': '1,399'},
 {'name': 'TIGER 소프트웨어', 'price': '10,075'},
 {'name': '미래에셋 인버스 2X 코스닥150 선물 ETN', 'price': '5,725'},
 {'name': 'RISE 200위클리커버드콜', 'price': '9,195'},
 {'name': '신성이엔지', 'price': '1,484'},
 {'name': 'KODEX 미국30년국채타겟커버드콜(합성 H)', 'price': '8,670'},
 {'name': 'KODEX 반도체레버리지', 'price': '11,040'}]

In [ ]:
result = []

for row in rows:
    columns = row.select('td')
    if len(columns) > 1:
        name = columns[1].text
        price = columns[2].text
        result.append({'name': name, 'price': price})

result

[{'name': 'KODEX 200선물인버스2X', 'price': '1,432'},
 {'name': 'KODEX 인버스', 'price': '3,645'},
 {'name': 'KODEX 2차전지산업레버리지', 'price': '965'},
 {'name': '동방', 'price': '3,370'},
 {'name': 'KODEX 코스닥150선물인버스', 'price': '3,675'},
 {'name': 'KODEX 레버리지', 'price': '22,920'},
 {'name': 'KODEX 코스닥150레버리지', 'price': '7,885'},
 {'name': '동양철관', 'price': '1,476'},
 {'name': '삼성전자', 'price': '62,400'},
 {'name': '삼성 인버스 2X WTI원유 선물 ETN', 'price': '79'},
 {'name': 'KCTC', 'price': '6,280'},
 {'name': 'KODEX 200', 'price': '41,510'},
 {'name': 'TIGER 화장품', 'price': '3,980'},
 {'name': '흥아해운', 'price': '1,810'},
 {'name': 'TIGER 200선물인버스2X', 'price': '1,519'},
 {'name': 'TIGER 2차전지TOP10레버리지', 'price': '1,108'},
 {'name': '두산에너빌리티', 'price': '59,800'},
 {'name': 'TIGER 2차전지TOP10', 'price': '7,940'},
 {'name': '서울식품', 'price': '170'},
 {'name': 'TIGER 2차전지소재Fn', 'price': '3,760'},
 {'name': 'LG헬로비전', 'price': '2,980'},
 {'name': 'ACE 테슬라밸류체인액티브', 'price': '13,665'},
 {'name': '삼성중공업', 'price': '15,980'},
 {'name': 'KODEX 코스닥150', 'price': '12,557'},
 {'name': '한국전력', 'price': '37,000'},
 {'name': '제주은행', 'price': '15,060'},
 {'name': '신일전자', 'price': '1,578'},
 {'name': '삼성 인버스 2X 코스닥150 선물 ETN', 'price': '5,705'},
 {'name': 'KODEX 2차전지산업', 'price': '11,385'},
 {'name': 'TIGER 미국S&P500', 'price': '21,275'},
 {'name': '미래에셋증권', 'price': '19,320'},
 {'name': 'N2 인버스 레버리지 WTI원유 선물 ETN(H)', 'price': '62'},
 {'name': 'KODEX 미국S&P500', 'price': '19,580'},
 {'name': '형지엘리트', 'price': '3,190'},
 {'name': 'TIGER 인터넷TOP10', 'price': '4,830'},
 {'name': '카카오', 'price': '60,700'},
 {'name': 'YG PLUS', 'price': '8,120'},
 {'name': 'KODEX 증권', 'price': '13,110'},
 {'name': '한컴라이프케어', 'price': '3,125'},
 {'name': 'SK증권', 'price': '664'},
 {'name': '평화홀딩스', 'price': '5,890'},
 {'name': '대한해운', 'price': '1,701'},
 {'name': 'KODEX 200타겟위클리커버드콜', 'price': '10,965'},
 {'name': 'SOL 조선TOP3플러스', 'price': '23,465'},
 {'name': '카카오페이', 'price': '82,400'},
 {'name': '한화솔루션', 'price': '35,900'},
 {'name': 'KODEX 2차전지핵심소재10', 'price': '3,855'},
 {'name': '신한 인버스 2X WTI원유 선물 ETN(H)', 'price': '68'},
 {'name': 'TIGER 200', 'price': '41,475'},
 {'name': '한국가스공사', 'price': '43,500'},
 {'name': '온타이드', 'price': '556'},
 {'name': 'ACE 미국30년국채액티브(H)', 'price': '7,675'},
 {'name': '현대제철', 'price': '35,650'},
 {'name': '써니전자', 'price': '1,862'},
 {'name': 'TIGER 코리아배당다우존스', 'price': '11,880'},
 {'name': 'TIGER 200 중공업', 'price': '9,955'},
 {'name': '씨아이테크', 'price': '1,304'},
 {'name': '대영포장', 'price': '1,214'},
 {'name': 'TIGER 은행고배당플러스TOP10', 'price': '18,930'},
 {'name': 'TIGER 2차전지테마', 'price': '14,235'},
 {'name': '한온시스템', 'price': '3,295'},
 {'name': 'SK텔레콤', 'price': '54,000'},
 {'name': 'KODEX 은행', 'price': '11,660'},
 {'name': 'ACE 미국30년국채액티브', 'price': '9,360'},
 {'name': 'TIGER Fn반도체TOP10', 'price': '11,580'},
 {'name': '현대로템', 'price': '183,300'},
 {'name': 'KODEX AI전력핵심설비', 'price': '13,960'},
 {'name': '한화투자증권', 'price': '6,160'},
 {'name': 'SK하이닉스', 'price': '265,500'},
 {'name': 'RISE 버크셔포트폴리오TOP10', 'price': '12,300'},
 {'name': 'HMM', 'price': '23,950'},
 {'name': 'PLUS 고배당주', 'price': '19,280'},
 {'name': 'KB 인버스 2X KOSDAQ 150 선물 ETN', 'price': '5,725'},
 {'name': '평화산업', 'price': '1,094'},
 {'name': '파라다이스', 'price': '16,740'},
 {'name': 'LG씨엔에스', 'price': '82,600'},
 {'name': 'TIGER 여행레저', 'price': '3,700'},
 {'name': '한화오션', 'price': '73,700'},
 {'name': 'TIGER 바이오TOP10', 'price': '7,650'},
 {'name': 'TIGER 테슬라채권혼합Fn', 'price': '13,080'},
 {'name': '오리엔트바이오', 'price': '784'},
 {'name': '체시스', 'price': '1,257'},
 {'name': 'TIGER 조선TOP10', 'price': '18,400'},
 {'name': 'NAVER', 'price': '259,000'},
 {'name': 'PLUS K방산', 'price': '44,605'},
 {'name': '신한지주', 'price': '65,600'},
 {'name': '동양생명', 'price': '7,800'},
 {'name': '엑시큐어하이트론', 'price': '657'},
 {'name': '웅진씽크빅', 'price': '2,115'},
 {'name': 'TIGER 미국30년국채커버드콜액티브(H)', 'price': '7,977'},
 {'name': 'KODEX 금융고배당TOP10타겟위클리커버드콜', 'price': '12,505'},
 {'name': 'TIGER 미국필라델피아반도체나스닥', 'price': '20,125'},
 {'name': '한국ANKOR유전', 'price': '251'},
 {'name': '인스코비', 'price': '1,399'},
 {'name': 'TIGER 소프트웨어', 'price': '10,075'},
 {'name': '미래에셋 인버스 2X 코스닥150 선물 ETN', 'price': '5,725'},
 {'name': 'RISE 200위클리커버드콜', 'price': '9,195'},
 {'name': '신성이엔지', 'price': '1,484'},
 {'name': 'KODEX 미국30년국채타겟커버드콜(합성 H)', 'price': '8,670'},
 {'name': 'KODEX 반도체레버리지', 'price': '11,040'}]

In [17]:
rows = soup.select('table.type_2 tr')
rows

[<tr>
 <th>N</th>
 <th>종목명</th>
 <th>현재가</th>
 <th class="tr" style="padding-right:8px">전일비</th>
 <th>등락률</th>
 <th>거래량</th>
 <th>거래대금</th>
 <th>매수호가</th>
 <th>매도호가</th>
 <th>시가총액</th>
 <th>PER</th>
 <th>ROE</th>
 </tr>,
 <tr><td class="blank_08" colspan="10"></td></tr>,
 <tr>
 <td class="no">1</td>
 <td><a class="tltle" href="/item/main.naver?code=252670">KODEX 200선물인버스2X</a></td>
 <td class="number">1,435</td>
 <td class="number">
 <em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
 				55
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 red01">
 				+3.99%
 				</span>
 </td>
 <td class="number">410,319,344</td>
 <td class="number">576,563</td>
 <td class="number">1,434</td>
 <td class="number">1,435</td>
 <td class="number">14,574</td>
 <td class="number">N/A</td>
 <td class="number">N/A</td>
 </tr>,
 <tr>
 <td class="no">2</td>
 <td><a class="tltle" href="/item/main.naver?code=008970">동양철관</a></td>
 <td class="number">1,501</td>
 <td class="number">
 <em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
 				31
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 nv01">
 				-2.02%
 				</span>
 </td>
 <td class="number">144,506,253</td>
 <td class="number">237,780</td>
 <td class="number">1,501</td>
 <td class="number">1,502</td>
 <td class="number">2,399</td>
 <td class="number">-10.35</td>
 <td class="number">-20.13</td>
 </tr>,
 <tr>
 <td class="no">3</td>
 <td><a class="tltle" href="/item/main.naver?code=114800">KODEX 인버스</a></td>
 <td class="number">3,640</td>
 <td class="number">
 <em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
 				70
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 red01">
 				+1.96%
 				</span>
 </td>
 <td class="number">57,318,645</td>
 <td class="number">206,589</td>
 <td class="number">3,640</td>
 <td class="number">3,645</td>
 <td class="number">6,672</td>
 <td class="number">N/A</td>
 <td class="number">N/A</td>
 </tr>,
 <tr>
 <td class="no">4</td>
 <td><a class="tltle" href="/item/main.naver?code=233740">KODEX 코스닥150레버리지</a></td>
 <td class="number">7,870</td>
 <td class="number">
 <em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
 				465
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 nv01">
 				-5.58%
 				</span>
 </td>
 <td class="number">36,896,112</td>
 <td class="number">296,530</td>
 <td class="number">7,870</td>
 <td class="number">7,875</td>
 <td class="number">18,274</td>
 <td class="number">N/A</td>
 <td class="number">N/A</td>
 </tr>,
 <tr>
 <td class="no">5</td>
 <td><a class="tltle" href="/item/main.naver?code=462330">KODEX 2차전지산업레버리지</a></td>
 <td class="number">975</td>
 <td class="number">
 <em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
 				15
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 nv01">
 				-1.52%
 				</span>
 </td>
 <td class="number">35,678,049</td>
 <td class="number">34,818</td>
 <td class="number">974</td>
 <td class="number">975</td>
 <td class="number">2,670</td>
 <td class="number">N/A</td>
 <td class="number">N/A</td>
 </tr>,
 <tr><td class="blank_06" colspan="12"></td></tr>,
 <tr><td class="division_line" colspan="12"></td></tr>,
 <tr><td class="blank_08" colspan="12"></td></tr>,
 <tr>
 <td class="no">6</td>
 <td><a class="tltle" href="/item/main.naver?code=122630">KODEX 레버리지</a></td>
 <td class="number">22,900</td>
 <td class="number">
 <em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
 				935
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 nv01">
 				-3.92%
 				</span>
 </td>
 <td class="number">28,850,842</td>
 <td class="number">674,260</td>
 <td class="number">22,895</td>
 <td class="number">22,900</td>
 <td class="number">25,911</td>
 <td class="number">N/A</td>
 <td class="number">N/A</td>
 </tr>,
 <tr>
 <td class="no">7</td>
 <td><a class="tltle" href="/item/main.naver?code=251340">KODEX 코스닥150선물인버스</a></td>
 <td class="number">3,675</td>
 <td class="number">
 <em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
 				105
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 red01">
 				+2.94%
 				</span>
 </td>
 <td class="number">28,248,697</td>
 <td class="number">102,591</td>
 <td class="number">3,670</td>
 <td class="number">3,675</td>
 <td class="number">2,444</td>
 <td class="number">N/A</td>
 <td class="number">N/A</td>
 </tr>,
 <tr>
 <td class="no">8</td>
 <td><a class="tltle" href="/item/main.naver?code=005930">삼성전자</a></td>
 <td class="number">63,300</td>
 <td class="number">
 <em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
 				500
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 nv01">
 				-0.78%
 				</span>
 </td>
 <td class="number">23,689,699</td>
 <td class="number">1,506,052</td>
 <td class="number">63,200</td>
 <td class="number">63,300</td>
 <td class="number">3,747,131</td>
 <td class="number">12.26</td>
 <td class="number">9.03</td>
 </tr>,
 <tr>
 <td class="no">9</td>
 <td><a class="tltle" href="/item/main.naver?code=037560">LG헬로비전</a></td>
 <td class="number">3,315</td>
 <td class="number">
 <em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
 				500
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 red01">
 				+17.76%
 				</span>
 </td>
 <td class="number">22,474,222</td>
 <td class="number">73,163</td>
 <td class="number">3,310</td>
 <td class="number">3,315</td>
 <td class="number">2,567</td>
 <td class="number">-2.45</td>
 <td class="number">-21.05</td>
 </tr>,
 <tr>
 <td class="no">10</td>
 <td><a class="tltle" href="/item/main.naver?code=009070">KCTC</a></td>
 <td class="number">6,090</td>
 <td class="number">
 <em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
 				160
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 nv01">
 				-2.56%
 				</span>
 </td>
 <td class="number">9,475,496</td>
 <td class="number">58,355</td>
 <td class="number">6,080</td>
 <td class="number">6,090</td>
 <td class="number">1,827</td>
 <td class="number">8.71</td>
 <td class="number">9.06</td>
 </tr>,
 <tr><td class="blank_06" colspan="12"></td></tr>,
 <tr><td class="division_line" colspan="12"></td></tr>,
 <tr><td class="blank_08" colspan="12"></td></tr>,
 <tr>
 <td class="no">11</td>
 <td><a class="tltle" href="/item/main.naver?code=015760">한국전력</a></td>
 <td class="number">36,900</td>
 <td class="number">
 <em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
 				1,000
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 red01">
 				+2.79%
 				</span>
 </td>
 <td class="number">9,369,609</td>
 <td class="number">353,904</td>
 <td class="number">36,850</td>
 <td class="number">36,900</td>
 <td class="number">236,885</td>
 <td class="number">4.50</td>
 <td class="number">9.22</td>
 </tr>,
 <tr>
 <td class="no">12</td>
 <td><a class="tltle" href="/item/main.naver?code=069500">KODEX 200</a></td>
 <td class="number">41,490</td>
 <td class="number">
 <em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
 				815
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 nv01">
 				-1.93%
 				</span>
 </td>
 <td class="number">8,387,838</td>
 <td class="number">351,266</td>
 <td class="number">41,485</td>
 <td class="number">41,490</td>
 <td class="number">65,575</td>
 <td class="number">N/A</td>
 <td class="number">N/A</td>
 </tr>,
 <tr>
 <td class="no">13</td>
 <td><a class="tltle" href="/item/main.naver?code=034020">두산에너빌리티</a></td>
 <td class="number">60,000</td>
 <td class="number">
 <em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
 				1,900
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 nv01">
 				-3.07%
 				</span>
 </td>
 <td class="number">7,881,195</td>
 <td class="number">485,276</td>
 <td class="number">60,000</td>
 <td class="number">60,100</td>
 <td class="number">384,337</td>
 <td class="number">-377.36</td>
 <td class="number">1.52</td>
 </tr>,
 <tr>
 <td class="no">14</td>
 <td><a class="tltle" href="/item/main.naver?code=412570">TIGER 2차전지TOP10레버리지</a></td>
 <td class="number">1,105</td>
 <td class="number">
 <em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
 				20
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 nv01">
 				-1.78%
 				</span>
 </td>
 <td class="number">7,188,415</td>
 <td class="number">7,989</td>
 <td class="number">1,104</td>
 <td class="number">1,105</td>
 <td class="number">908</td>
 <td class="number">N/A</td>
 <td class="number">N/A</td>
 </tr>,
 <tr>
 <td class="no">15</td>
 <td><a class="tltle" href="/item/main.naver?code=093240">형지엘리트</a></td>
 <td class="number">3,200</td>
 <td class="number">
 <em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
 				25
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 red01">
 				+0.79%
 				</span>
 </td>
 <td class="number">6,857,779</td>
 <td class="number">22,729</td>
 <td class="number">3,200</td>
 <td class="number">3,205</td>
 <td class="number">1,228</td>
 <td class="number">39.51</td>
 <td class="number">8.75</td>
 </tr>,
 <tr><td class="blank_06" colspan="12"></td></tr>,
 <tr><td class="division_line" colspan="12"></td></tr>,
 <tr><td class="blank_08" colspan="12"></td></tr>,
 <tr>
 <td class="no">16</td>
 <td><a class="tltle" href="/item/main.naver?code=229200">KODEX 코스닥150</a></td>
 <td class="number">12,525</td>
 <td class="number">
 <em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
 				380
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 nv01">
 				-2.94%
 				</span>
 </td>
 <td class="number">6,687,802</td>
 <td class="number">84,562</td>
 <td class="number">12,525</td>
 <td class="number">12,535</td>
 <td class="number">12,932</td>
 <td class="number">N/A</td>
 <td class="number">N/A</td>
 </tr>,
 <tr>
 <td class="no">17</td>
 <td><a class="tltle" href="/item/main.naver?code=006800">미래에셋증권</a></td>
 <td class="number">19,380</td>
 <td class="number">
 <em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
 				2,170
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 nv01">
 				-10.07%
 				</span>
 </td>
 <td class="number">6,327,786</td>
 <td class="number">127,242</td>
 <td class="number">19,380</td>
 <td class="number">19,390</td>
 <td class="number">110,527</td>
 <td class="number">14.21</td>
 <td class="number">7.94</td>
 </tr>,
 <tr>
 <td class="no">18</td>
 <td><a class="tltle" href="/item/main.naver?code=228790">TIGER 화장품</a></td>
 <td class="number">3,855</td>
 <td class="number">
 <em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
 				170
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 nv01">
 				-4.22%
 				</span>
 </td>
 <td class="number">5,695,683</td>
 <td class="number">22,352</td>
 <td class="number">3,850</td>
 <td class="number">3,855</td>
 <td class="number">2,490</td>
 <td class="number">N/A</td>
 <td class="number">N/A</td>
 </tr>,
 <tr>
 <td class="no">19</td>
 <td><a class="tltle" href="/item/main.naver?code=010140">삼성중공업</a></td>
 <td class="number">15,720</td>
 <td class="number">
 <em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
 				570
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 nv01">
 				-3.50%
 				</span>
 </td>
 <td class="number">5,615,357</td>
 <td class="number">89,359</td>
 <td class="number">15,720</td>
 <td class="number">15,730</td>
 <td class="number">138,336</td>
 <td class="number">94.70</td>
 <td class="number">1.77</td>
 </tr>,
 <tr>
 <td class="no">20</td>
 <td><a class="tltle" href="/item/main.naver?code=036460">한국가스공사</a></td>
 <td class="number">47,350</td>
 <td class="number">
 <em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
 				3,550
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 red01">
 				+8.11%
 				</span>
 </td>
 <td class="number">5,476,816</td>
 <td class="number">260,665</td>
 <td class="number">47,350</td>
 <td class="number">47,400</td>
 <td class="number">43,710</td>
 <td class="number">3.95</td>
 <td class="number">11.21</td>
 </tr>,
 <tr><td class="blank_06" colspan="12"></td></tr>,
 <tr><td class="division_line" colspan="12"></td></tr>,
 <tr><td class="blank_08" colspan="12"></td></tr>,
 <tr>
 <td class="no">21</td>
 <td><a class="tltle" href="/item/main.naver?code=462010">TIGER 2차전지소재Fn</a></td>
 <td class="number">3,825</td>
 <td class="number">
 <em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
 				10
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 red01">
 				+0.26%
 				</span>
 </td>
 <td class="number">5,198,392</td>
 <td class="number">19,818</td>
 <td class="number">3,820</td>
 <td class="number">3,825</td>
 <td class="number">4,766</td>
 <td class="number">N/A</td>
 <td class="number">N/A</td>
 </tr>,
 <tr>
 <td class="no">22</td>
 <td><a class="tltle" href="/item/main.naver?code=364980">TIGER 2차전지TOP10</a></td>
 <td class="number">7,910</td>
 <td class="number">
 <em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
 				145
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 nv01">
 				-1.80%
 				</span>
 </td>
 <td class="number">5,183,431</td>
 <td class="number">41,257</td>
 <td class="number">7,910</td>
 <td class="number">7,920</td>
 <td class="number">3,706</td>
 <td class="number">N/A</td>
 <td class="number">N/A</td>
 </tr>,
 <tr>
 <td class="no">23</td>
 <td><a class="tltle" href="/item/main.naver?code=004410">서울식품</a></td>
 <td class="number">168</td>
 <td class="number">
 <em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
 				1
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 nv01">
 				-0.59%
 				</span>
 </td>
 <td class="number">5,058,386</td>
 <td class="number">838</td>
 <td class="number">167</td>
 <td class="number">168</td>
 <td class="number">630</td>
 <td class="number">-18.67</td>
 <td class="number">-12.02</td>
 </tr>,
 <tr>
 <td class="no">24</td>
 <td><a class="tltle" href="/item/main.naver?code=498400">KODEX 200타겟위클리커버드콜</a></td>
 <td class="number">10,980</td>
 <td class="number">
 <em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
 				200
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 nv01">
 				-1.79%
 				</span>
 </td>
 <td class="number">4,962,931</td>
 <td class="number">54,939</td>
 <td class="number">10,975</td>
 <td class="number">10,980</td>
 <td class="number">5,391</td>
 <td class="number">N/A</td>
 <td class="number">N/A</td>
 </tr>,
 <tr>
 <td class="no">25</td>
 <td><a class="tltle" href="/item/main.naver?code=530107">삼성 인버스 2X 코스닥150 선물 ETN</a></td>
 <td class="number">5,735</td>
 <td class="number">
 <em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
 				315
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 red01">
 				+5.81%
 				</span>
 </td>
 <td class="number">4,757,289</td>
 <td class="number">26,664</td>
 <td class="number">5,730</td>
 <td class="number">5,735</td>
 <td class="number">2,294</td>
 <td class="number">N/A</td>
 <td class="number">N/A</td>
 </tr>,
 <tr><td class="blank_06" colspan="12"></td></tr>,
 <tr><td class="division_line" colspan="12"></td></tr>,
 <tr><td class="blank_08" colspan="12"></td></tr>,
 <tr>
 <td class="no">26</td>
 <td><a class="tltle" href="/item/main.naver?code=305720">KODEX 2차전지산업</a></td>
 <td class="number">11,445</td>
 <td class="number">
 <em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
 				30
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 nv01">
 				-0.26%
 				</span>
 </td>
 <td class="number">4,584,674</td>
 <td class="number">52,420</td>
 <td class="number">11,440</td>
 <td class="number">11,445</td>
 <td class="number">9,969</td>
 <td class="number">N/A</td>
 <td class="number">N/A</td>
 </tr>,
 <tr>
 <td class="no">27</td>
 <td><a class="tltle" href="/item/main.naver?code=530036">삼성 인버스 2X WTI원유 선물 ETN</a></td>
 <td class="number">78</td>
 <td class="number">
 <em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
 				1
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 red01">
 				+1.30%
 				</span>
 </td>
 <td class="number">4,468,967</td>
 <td class="number">346</td>
 <td class="number">77</td>
 <td class="number">78</td>
 <td class="number">1,168</td>
 <td class="number">N/A</td>
 <td class="number">N/A</td>
 </tr>,
 <tr>
 <td class="no">28</td>
 <td><a class="tltle" href="/item/main.naver?code=005320">온타이드</a></td>
 <td class="number">610</td>
 <td class="number">
 <em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
 				64
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 nv01">
 				-9.50%
 				</span>
 </td>
 <td class="number">4,400,999</td>
 <td class="number">2,708</td>
 <td class="number">610</td>
 <td class="number">611</td>
 <td class="number">412</td>
 <td class="number">50.83</td>
 <td class="number">-3.35</td>
 </tr>,
 <tr>
 <td class="no">29</td>
 <td><a class="tltle" href="/item/main.naver?code=003280">흥아해운</a></td>
 <td class="number">1,805</td>
 <td class="number">
 <em class="bu_p bu_pdn"><span class="blind">하락</span></em><span class="tah p11 nv01">
 				8
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 nv01">
 				-0.44%
 				</span>
 </td>
 <td class="number">4,333,858</td>
 <td class="number">7,835</td>
 <td class="number">1,805</td>
 <td class="number">1,807</td>
 <td class="number">4,340</td>
 <td class="number">11.35</td>
 <td class="number">20.08</td>
 </tr>,
 <tr>
 <td class="no">30</td>
 <td><a class="tltle" href="/item/main.naver?code=009830">한화솔루션</a></td>
 <td class="number">36,450</td>
 <td class="number">
 <em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
 				150
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 red01">
 				+0.41%
 				</span>
 </td>
 <td class="number">4,204,743</td>
 <td class="number">154,347</td>
 <td class="number">36,400</td>
 <td class="number">36,450</td>
 <td class="number">62,655</td>
 <td class="number">-6.43</td>
 <td class="number">-15.99</td>
 </tr>,
 <tr><td class="blank_06" colspan="12"></td></tr>,
 <tr><td class="division_line" colspan="12"></td></tr>,
 <tr><td class="blank_08" colspan="12"></td></tr>,
 <tr>
 <td class="no">31</td>
 <td><a class="tltle" href="/item/main.naver?code=011200">HMM</a></td>
 <td class="number">24,300</td>
 <td class="number">
 <em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
 				400
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 red01">
 				+1.67%
 				</span>
 </td>
 <td class="number">4,092,417</td>
 <td class="number">100,847</td>
 <td class="number">24,300</td>
 <td class="number">24,350</td>
 <td class="number">249,085</td>
 <td class="number">4.79</td>
 <td class="number">15.35</td>
 </tr>,
 <tr>
 <td class="no">32</td>
 <td><a class="tltle" href="/item/main.naver?code=095720">웅진씽크빅</a></td>
 <td class="number">2,095</td>
 <td class="number">
 <em class="bu_p bu_pup"><span class="blind">상승</span></em><span class="tah p11 red02">
 				129
 				</span>
 </td>
 <td class="number">
 <span class="tah p11 red01">
 				+6.56%
 				</span>
 </td>
 <td class="number">4,080,881</td>
 <td class="number">8,605</td>
 <td class="number">2,095</td>
 <td class="number">2,100</td>
 <td class="number">2,420</td>
 <td class="number">-9.70</td>

In [23]:
# 다른 풀이 방법 
result = []

for row in rows:
    temp = {}

    name_tag = row.select_one('a.tltle')
    price_tag = row.select_one('td.number')
    change_tag = row.select_one('.bu_pup') # 전일비 상승 클래스(em)
    change_tag = row.select_one('span') # 전일비 span 태그

    if name_tag and change_tag.text == '상승':
        temp['name'] = name_tag.text
        temp['price'] = price_tag.text
        result.append(temp)
result

[{'name': 'KODEX 인버스', 'price': '3,645'},
 {'name': '동방', 'price': '3,370'},
 {'name': 'KODEX 레버리지', 'price': '22,920'},
 {'name': 'KODEX 코스닥150레버리지', 'price': '7,885'},
 {'name': '삼성 인버스 2X WTI원유 선물 ETN', 'price': '79'},
 {'name': 'KCTC', 'price': '6,280'},
 {'name': 'KODEX 200', 'price': '41,510'},
 {'name': 'TIGER 화장품', 'price': '3,980'},
 {'name': '흥아해운', 'price': '1,810'},
 {'name': 'TIGER 2차전지TOP10레버리지', 'price': '1,108'},
 {'name': 'TIGER 2차전지TOP10', 'price': '7,940'},
 {'name': '서울식품', 'price': '170'},
 {'name': '삼성중공업', 'price': '15,980'},
 {'name': 'KODEX 코스닥150', 'price': '12,557'},
 {'name': '한국전력', 'price': '37,000'},
 {'name': '제주은행', 'price': '15,060'},
 {'name': 'TIGER 미국S&P500', 'price': '21,275'},
 {'name': 'N2 인버스 레버리지 WTI원유 선물 ETN(H)', 'price': '62'},
 {'name': 'KODEX 미국S&P500', 'price': '19,580'},
 {'name': 'TIGER 인터넷TOP10', 'price': '4,830'},
 {'name': '카카오', 'price': '60,700'},
 {'name': 'KODEX 증권', 'price': '13,110'},
 {'name': 'SK증권', 'price': '664'},
 {'name': '평화홀딩스', 'price': '5,890'},
 {'name': 'SOL 조선TOP3플러스', 'price': '23,465'},
 {'name': '카카오페이', 'price': '82,400'},
 {'name': '신한 인버스 2X WTI원유 선물 ETN(H)', 'price': '68'},
 {'name': 'TIGER 200', 'price': '41,475'},
 {'name': '현대제철', 'price': '35,650'},
 {'name': '써니전자', 'price': '1,862'},
 {'name': 'TIGER 코리아배당다우존스', 'price': '11,880'},
 {'name': 'TIGER 200 중공업', 'price': '9,955'},
 {'name': '씨아이테크', 'price': '1,304'},
 {'name': '대영포장', 'price': '1,214'},
 {'name': 'TIGER 은행고배당플러스TOP10', 'price': '18,930'},
 {'name': 'KODEX 은행', 'price': '11,660'},
 {'name': '현대로템', 'price': '183,300'},
 {'name': 'RISE 버크셔포트폴리오TOP10', 'price': '12,300'},
 {'name': 'PLUS 고배당주', 'price': '19,280'},
 {'name': '평화산업', 'price': '1,094'},
 {'name': '파라다이스', 'price': '16,740'},
 {'name': 'LG씨엔에스', 'price': '82,600'},
 {'name': 'TIGER 여행레저', 'price': '3,700'},
 {'name': '한화오션', 'price': '73,700'},
 {'name': 'TIGER 바이오TOP10', 'price': '7,650'},
 {'name': '오리엔트바이오', 'price': '784'},
 {'name': '체시스', 'price': '1,257'},
 {'name': 'TIGER 조선TOP10', 'price': '18,400'},
 {'name': 'NAVER', 'price': '259,000'},
 {'name': 'PLUS K방산', 'price': '44,605'},
 {'name': '신한지주', 'price': '65,600'},
 {'name': '동양생명', 'price': '7,800'},
 {'name': '웅진씽크빅', 'price': '2,115'},
 {'name': 'KODEX 금융고배당TOP10타겟위클리커버드콜', 'price': '12,505'},
 {'name': 'TIGER 미국필라델피아반도체나스닥', 'price': '20,125'},
 {'name': 'TIGER 소프트웨어', 'price': '10,075'}]

In [26]:
# 다른 풀이 2
result = []

for row in rows:
    columns = row.select('td')
    if len(columns) > 1:
        print(columns[3].select_one('span').text == '상승')
        print('bu_pup' in columns[3].select_one('em').attrs['class'])
        print('red02' in columns[3].select_one('.tah').attrs['class'])
        # print(columns[3].attrs['class']) # 안되는 이유 -> number만 가져오기 때문

        change_tag = row.select_one('td .blind')
        if change_tag and change_tag.text == '상승':
            name = columns[1].text
            price = columns[2].text
            result.append({'name': name, 'price': price})

result

False
False
False
True
True
True
False
False
False
True
True
True
False
False
False
True
True
True
True
True
True
False
False
False
False
False
False
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
False
False
False
True
True
True
False
False
False
True
True
True
True
True
True
False
False
False
False
False
False
False
False
False
True
True
True
True
True
True
True
True
True
True
True
True
False
False
False
False
False
False
False
False
False
True
True
True
False
False
False
True
True
True
True
True
True
False
False
False
True
True
True
True
True
True
False
False
False
True
True
True
False
False
False
True
True
True
True
True
True
False
False
False
False
False
False
True
True
True
True
True
True
False
False
False
False
False
False
True
True
True
True
True
True
False
False
False
False
False
False
False
False
False
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
False
False
False
False
False
False
False
False
False
True
True
True
False
False
False
False
False
False
True
True
True
False
False
False
False
False
False
False
False
False
True
True
True
False
False
False
True
True
True
False
False
False
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
False
False
False
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
False
False
False
True
True
True
False
False
False
True
True
True
True
True
True
False
False
False
False
False
False
True
True
True
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False

[{'name': 'KODEX 인버스', 'price': '3,645'},
 {'name': '동방', 'price': '3,370'},
 {'name': 'KODEX 레버리지', 'price': '22,920'},
 {'name': 'KODEX 코스닥150레버리지', 'price': '7,885'},
 {'name': '삼성 인버스 2X WTI원유 선물 ETN', 'price': '79'},
 {'name': 'KCTC', 'price': '6,280'},
 {'name': 'KODEX 200', 'price': '41,510'},
 {'name': 'TIGER 화장품', 'price': '3,980'},
 {'name': '흥아해운', 'price': '1,810'},
 {'name': 'TIGER 2차전지TOP10레버리지', 'price': '1,108'},
 {'name': 'TIGER 2차전지TOP10', 'price': '7,940'},
 {'name': '서울식품', 'price': '170'},
 {'name': '삼성중공업', 'price': '15,980'},
 {'name': 'KODEX 코스닥150', 'price': '12,557'},
 {'name': '한국전력', 'price': '37,000'},
 {'name': '제주은행', 'price': '15,060'},
 {'name': 'TIGER 미국S&P500', 'price': '21,275'},
 {'name': 'N2 인버스 레버리지 WTI원유 선물 ETN(H)', 'price': '62'},
 {'name': 'KODEX 미국S&P500', 'price': '19,580'},
 {'name': 'TIGER 인터넷TOP10', 'price': '4,830'},
 {'name': '카카오', 'price': '60,700'},
 {'name': 'KODEX 증권', 'price': '13,110'},
 {'name': 'SK증권', 'price': '664'},
 {'name': '평화홀딩스', 'price': '5,890'},
 {'name': 'SOL 조선TOP3플러스', 'price': '23,465'},
 {'name': '카카오페이', 'price': '82,400'},
 {'name': '신한 인버스 2X WTI원유 선물 ETN(H)', 'price': '68'},
 {'name': 'TIGER 200', 'price': '41,475'},
 {'name': '현대제철', 'price': '35,650'},
 {'name': '써니전자', 'price': '1,862'},
 {'name': 'TIGER 코리아배당다우존스', 'price': '11,880'},
 {'name': 'TIGER 200 중공업', 'price': '9,955'},
 {'name': '씨아이테크', 'price': '1,304'},
 {'name': '대영포장', 'price': '1,214'},
 {'name': 'TIGER 은행고배당플러스TOP10', 'price': '18,930'},
 {'name': 'KODEX 은행', 'price': '11,660'},
 {'name': '현대로템', 'price': '183,300'},
 {'name': 'RISE 버크셔포트폴리오TOP10', 'price': '12,300'},
 {'name': 'PLUS 고배당주', 'price': '19,280'},
 {'name': '평화산업', 'price': '1,094'},
 {'name': '파라다이스', 'price': '16,740'},
 {'name': 'LG씨엔에스', 'price': '82,600'},
 {'name': 'TIGER 여행레저', 'price': '3,700'},
 {'name': '한화오션', 'price': '73,700'},
 {'name': 'TIGER 바이오TOP10', 'price': '7,650'},
 {'name': '오리엔트바이오', 'price': '784'},
 {'name': '체시스', 'price': '1,257'},
 {'name': 'TIGER 조선TOP10', 'price': '18,400'},
 {'name': 'NAVER', 'price': '259,000'},
 {'name': 'PLUS K방산', 'price': '44,605'},
 {'name': '신한지주', 'price': '65,600'},
 {'name': '동양생명', 'price': '7,800'},
 {'name': '웅진씽크빅', 'price': '2,115'},
 {'name': 'KODEX 금융고배당TOP10타겟위클리커버드콜', 'price': '12,505'},
 {'name': 'TIGER 미국필라델피아반도체나스닥', 'price': '20,125'},
 {'name': 'TIGER 소프트웨어', 'price': '10,075'}]

In [ ]:
# 2. 전일 대비 상승한 종목

result = []

for row in rows:
    columns = row.select('td')
    if len(columns) > 1:
        change_tag = row.select_one('td .blind')
        if change_tag and change_tag.text == '상승':
            name = columns[1].text
            price = columns[2].text
            result.append({'name': name, 'price': price})

result

[{'name': 'KODEX 인버스', 'price': '3,645'},
 {'name': '동방', 'price': '3,370'},
 {'name': 'KODEX 레버리지', 'price': '22,920'},
 {'name': 'KODEX 코스닥150레버리지', 'price': '7,885'},
 {'name': '삼성 인버스 2X WTI원유 선물 ETN', 'price': '79'},
 {'name': 'KCTC', 'price': '6,280'},
 {'name': 'KODEX 200', 'price': '41,510'},
 {'name': 'TIGER 화장품', 'price': '3,980'},
 {'name': '흥아해운', 'price': '1,810'},
 {'name': 'TIGER 2차전지TOP10레버리지', 'price': '1,108'},
 {'name': 'TIGER 2차전지TOP10', 'price': '7,940'},
 {'name': '서울식품', 'price': '170'},
 {'name': '삼성중공업', 'price': '15,980'},
 {'name': 'KODEX 코스닥150', 'price': '12,557'},
 {'name': '한국전력', 'price': '37,000'},
 {'name': '제주은행', 'price': '15,060'},
 {'name': 'TIGER 미국S&P500', 'price': '21,275'},
 {'name': 'N2 인버스 레버리지 WTI원유 선물 ETN(H)', 'price': '62'},
 {'name': 'KODEX 미국S&P500', 'price': '19,580'},
 {'name': 'TIGER 인터넷TOP10', 'price': '4,830'},
 {'name': '카카오', 'price': '60,700'},
 {'name': 'KODEX 증권', 'price': '13,110'},
 {'name': 'SK증권', 'price': '664'},
 {'name': '평화홀딩스', 'price': '5,890'},
 {'name': 'SOL 조선TOP3플러스', 'price': '23,465'},
 {'name': '카카오페이', 'price': '82,400'},
 {'name': '신한 인버스 2X WTI원유 선물 ETN(H)', 'price': '68'},
 {'name': 'TIGER 200', 'price': '41,475'},
 {'name': '현대제철', 'price': '35,650'},
 {'name': '써니전자', 'price': '1,862'},
 {'name': 'TIGER 코리아배당다우존스', 'price': '11,880'},
 {'name': 'TIGER 200 중공업', 'price': '9,955'},
 {'name': '씨아이테크', 'price': '1,304'},
 {'name': '대영포장', 'price': '1,214'},
 {'name': 'TIGER 은행고배당플러스TOP10', 'price': '18,930'},
 {'name': 'KODEX 은행', 'price': '11,660'},
 {'name': '현대로템', 'price': '183,300'},
 {'name': 'RISE 버크셔포트폴리오TOP10', 'price': '12,300'},
 {'name': 'PLUS 고배당주', 'price': '19,280'},
 {'name': '평화산업', 'price': '1,094'},
 {'name': '파라다이스', 'price': '16,740'},
 {'name': 'LG씨엔에스', 'price': '82,600'},
 {'name': 'TIGER 여행레저', 'price': '3,700'},
 {'name': '한화오션', 'price': '73,700'},
 {'name': 'TIGER 바이오TOP10', 'price': '7,650'},
 {'name': '오리엔트바이오', 'price': '784'},
 {'name': '체시스', 'price': '1,257'},
 {'name': 'TIGER 조선TOP10', 'price': '18,400'},
 {'name': 'NAVER', 'price': '259,000'},
 {'name': 'PLUS K방산', 'price': '44,605'},
 {'name': '신한지주', 'price': '65,600'},
 {'name': '동양생명', 'price': '7,800'},
 {'name': '웅진씽크빅', 'price': '2,115'},
 {'name': 'KODEX 금융고배당TOP10타겟위클리커버드콜', 'price': '12,505'},
 {'name': 'TIGER 미국필라델피아반도체나스닥', 'price': '20,125'},
 {'name': 'TIGER 소프트웨어', 'price': '10,075'}]

In [27]:
# 네이버 뉴스 크롤링 

res = requests.get("https://news.naver.com/main/list.naver?mode=LPOD&mid=sec&oid=001")
soup = BeautifulSoup(res.text, 'html.parser')
soup.select('.type06_headline li')

[<li>
 <dl>
 <dt class="photo">
 <a class="nclicks(cnt_flashart)" href="https://n.news.naver.com/mnews/article/001/0015491965">
 <img alt="여야, '민생공약 협의체' 구성키로…&quot;대선 공통공약 추진&quot;" height="72" onerror="javascript:this.src='https://ssl.pstatic.net/static.news/image/news/2009/noimage_106x72.png';" src="https://imgnews.pstatic.net/image/origin/001/2025/07/07/15491965.jpg?type=nf106_72" width="106"/>
 </a>
 </dt>
 <dt>
 <a class="nclicks(cnt_flashart)" href="https://n.news.naver.com/mnews/article/001/0015491965">
 								 여야, '민생공약 협의체' 구성키로…"대선 공통공약 추진"
 								</a>
 </dt>
 <dd>
 <span class="lede">국힘 "노란봉투법·방송3법 등 일방 통과 안 돼"…與 "충분히 협의할것" 김치연 조다운 안정훈 기자 = 더불어민주당과 국민의힘이 …</span>
 <span class="writing">연합뉴스</span>
 <span class="date is_new">2분전</span>
 </dd>
 </dl>
 </li>,
 <li>
 <dl>
 <dt class="photo">
 <a class="nclicks(cnt_flashart)" href="https://n.news.naver.com/mnews/article/001/0015491964">
 <img alt="'5·18 1주년 추모식' 등 주도 고교생, 44년 만에 재심서 면소" height="72" onerror="javascript:this.src='https://ssl.pstatic.net/static.news/image/news/2009/noimage_106x72.png';" src="https://imgnews.pstatic.net/image/origin/001/2025/07/07/15491964.jpg?type=nf106_72" width="106"/>
 </a>
 </dt>
 <dt>
 <a class="nclicks(cnt_flashart)" href="https://n.news.naver.com/mnews/article/001/0015491964">
 								 '5·18 1주년 추모식' 등 주도 고교생, 44년 만에 재심서 면소
 								</a>
 </dt>
 <dd>
 <span class="lede">법률 일부 조항 삭제·헌정 질서 수호 위한 정당 행위 5·18 민주화운동 1주년을 전후로 희생자 추모식 등을 주도해 징역형을 선 …</span>
 <span class="writing">연합뉴스</span>
 <span class="date is_new">2분전</span>
 </dd>
 </dl>
 </li>,
 <li>
 <dl>
 <dt class="photo">
 <a class="nclicks(cnt_flashart)" href="https://n.news.naver.com/mnews/article/001/0015491963">
 <img alt="오송 참사 2주기 추모 주간 선포 기자회견" height="72" onerror="javascript:this.src='https://ssl.pstatic.net/static.news/image/news/2009/noimage_106x72.png';" src="https://imgnews.pstatic.net/image/origin/001/2025/07/07/15491963.jpg?type=nf106_72" width="106"/>
 </a>
 </dt>
 <dt>
 <a class="nclicks(cnt_flashart)" href="https://n.news.naver.com/mnews/article/001/0015491963">
 								 오송 참사 2주기 추모 주간 선포 기자회견
 								</a>
 </dt>
 <dd>
 <span class="lede">오송참사 유가족·생존자협의회가 7일 오전 충북도청 앞에서 참사 2주기 추모 주간 선포 기자회견을 열고 있다. 2025.7.7</span>
 <span class="writing">연합뉴스</span>
 <span class="date is_new">3분전</span>
 </dd>
 </dl>
 </li>,
 <li>
 <dl>
 <dt class="photo">
 <a class="nclicks(cnt_flashart)" href="https://n.news.naver.com/mnews/article/001/0015491962">
 <img alt="경기 수원팔달경찰서 내달 5일 개서…4개구별 경찰서 설치 완료" height="72" onerror="javascript:this.src='https://ssl.pstatic.net/static.news/image/news/2009/noimage_106x72.png';" src="https://imgnews.pstatic.net/image/origin/001/2025/07/07/15491962.jpg?type=nf106_72" width="106"/>
 </a>
 </dt>
 <dt>
 <a class="nclicks(cnt_flashart)" href="https://n.news.naver.com/mnews/article/001/0015491962">
 								 경기 수원팔달경찰서 내달 5일 개서…4개구별 경찰서 설치 완료
 								</a>
 </dt>
 <dd>
 <span class="lede">수원남부·중부·서부경찰서→영통·장안·권선경찰서 명칭 변경 권준우 김솔 기자 = 경기 수원시의 네 번째 경찰서인 수원팔달경찰서가  …</span>
 <span class="writing">연합뉴스</span>
 <span class="date is_new">4분전</span>
 </dd>
 </dl>
 </li>,
 <li>
 <dl>
 <dt class="photo">
 <a class="nclicks(cnt_flashart)" href="https://n.news.naver.com/mnews/article/001/0015491961">
 <img alt="오송 참사 2주기 추모 주간 선포 기자회견" height="72" onerror="javascript:this.src='https://ssl.pstatic.net/static.news/image/news/2009/noimage_106x72.png';" src="https://imgnews.pstatic.net/image/origin/001/2025/07/07/15491961.jpg?type=nf106_72" width="106"/>
 </a>
 </dt>
 <dt>
 <a class="nclicks(cnt_flashart)" href="https://n.news.naver.com/mnews/article/001/0015491961">
 								 오송 참사 2주기 추모 주간 선포 기자회견
 								</a>
 </dt>
 <dd>
 <span class="lede">이경구 오송참사 유가족협의회 공동대표가 7일 오전 충북도청 앞에서 열린 참사 2주기 추모 주간 선포 기자회견에 참석해 있다. 2 …</span>
 <span class="writing">연합뉴스</span>
 <span class="date is_new">5분전</span>
 </dd>
 </dl>
 </li>,
 <li>
 <dl>
 <dt class="photo">
 <a class="nclicks(cnt_flashart)" href="https://n.news.naver.com/mnews/article/001/0015491960">
 <img alt="오송 참사 2주기 추모 주간 선포 기자회견" height="72" onerror="javascript:this.src='https://ssl.pstatic.net/static.news/image/news/2009/noimage_106x72.png';" src="https://imgnews.pstatic.net/image/origin/001/2025/07/07/15491960.jpg?type=nf106_72" width="106"/>
 </a>
 </dt>
 <dt>
 <a class="nclicks(cnt_flashart)" href="https://n.news.naver.com/mnews/article/001/0015491960">
 								 오송 참사 2주기 추모 주간 선포 기자회견
 								</a>
 </dt>
 <dd>
 <span class="lede">오송참사 유가족·생존자협의회가 7일 오전 충북도청 앞에서 참사 2주기 추모 주간 선포 기자회견을 열고 있다. 2025.7.7</span>
 <span class="writing">연합뉴스</span>
 <span class="date is_new">5분전</span>
 </dd>
 </dl>
 </li>,
 <li>
 <dl>
 <dt class="photo">
 <a class="nclicks(cnt_flashart)" href="https://n.news.naver.com/mnews/article/001/0015491959">
 <img alt="여자배구대표팀, VNL 열리는 일본으로 출국…9일부터 3주차 경기" height="72" onerror="javascript:this.src='https://ssl.pstatic.net/static.news/image/news/2009/noimage_106x72.png';" src="https://imgnews.pstatic.net/image/origin/001/2025/07/07/15491959.jpg?type=nf106_72" width="106"/>
 </a>
 </dt>
 <dt>
 <a class="nclicks(cnt_flashart)" href="https://n.news.naver.com/mnews/article/001/0015491959">
 								 여자배구대표팀, VNL 열리는 일본으로 출국…9일부터 3주차 경기
 								</a>
 </dt>
 <dd>
 <span class="lede">여자배구대표팀여자배구대표팀이 7일 인천국제공항에서 파이팅을 외치고 있다. 대표팀은 9일부터 일본 지바현에서 2025 국제배구연맹 …</span>
 <span class="writing">연합뉴스</span>
 <span class="date is_new">5분전</span>
 </dd>
 </dl>
 </li>,
 <li>
 <dl>
 <dt class="photo">
 <a class="nclicks(cnt_flashart)" href="https://n.news.naver.com/mnews/article/001/0015491958">
 <img alt='"무선 이어폰 재생시간 제품 간 최대 3.1배 벌어져"' height="72" onerror="javascript:this.src='https://ssl.pstatic.net/static.news/image/news/2009/noimage_106x72.png';" src="https://imgnews.pstatic.net/image/origin/001/2025/07/07/15491958.jpg?type=nf106_72" width="106"/>
 </a>
 </dt>
 <dt>
 <a class="nclicks(cnt_flashart)" href="https://n.news.naver.com/mnews/article/001/0015491958">
 								 "무선 이어폰 재생시간 제품 간 최대 3.1배 벌어져"
 								</a>
 </dt>
 <dd>
 <span class="lede">소비자원, 10종 품질 및 안전성 시험평가 국내에서 판매되는 10종의 무선 이어폰 재상 시간이 제품 간 최대 3.1배나 차이가  …</span>
 <span class="writing">연합뉴스</span>
 <span class="date is_new">6분전</span>
 </dd>
 </dl>
 </li>,
 <li>
 <dl>
 <dt class="photo">
 <a class="nclicks(cnt_flashart)" href="https://n.news.naver.com/mnews/article/001/0015491957">
 <img alt="[게시판] 중기중앙회, 노란우산 온라인가입자에 상품권 지급" height="72" onerror="javascript:this.src='https://ssl.pstatic.net/static.news/image/news/2009/noimage_106x72.png';" src="https://imgnews.pstatic.net/image/origin/001/2025/07/07/15491957.jpg?type=nf106_72" width="106"/>
 </a>
 </dt>
 <dt>
 <a class="nclicks(cnt_flashart)" href="https://n.news.naver.com/mnews/article/001/0015491957">
 								 [게시판] 중기중앙회, 노란우산 온라인가입자에 상품권 지급
 								</a>
 </dt>
 <dd>
 <span class="lede">▲ 중소기업중앙회는 국내 소비 촉진을 위해 노란우산 온라인 가입자 전원에게 소상공인사랑상품권 5만원권을 지급하는 '노란우산 챙기 …</span>
 <span class="writing">연합뉴스</span>
 <span class="date is_new">6분전</span>
 </dd>
 </dl>
 </li>,
 <li>
 <dl>
 <dt>
 <a class="nclicks(cnt_flashart)" href="https://n.news.naver.com/mnews/article/001/0015491956">
 								 [게시판] 산업인력공단, 과정평가형 국가기술자격 과정 운영기관 모집
 								</a>
 </dt>
 <dd>
 <span class="lede">▲ 한국산업인력공단은 이달 14일부터 다음 달 14일까지 '2026년도 과정평가형 국가기술자격 교육·훈련 과정' 운영기관을 모집 …</span>
 <span class="writing">연합뉴스</span>
 <span class="date is_new">6분전</span>
 </dd>
 </dl>
 </li>]

In [29]:
from datetime import datetime, timedelta
yesterday = (datetime.now() - timedelta(days=1)).strftime('%Y%m%d')
yesterday

'20250706'

In [61]:
res = requests.get(f"https://news.naver.com/main/list.naver?mode=LPOD&mid=sec&oid=001&date={yesterday}&page=1")
soup = BeautifulSoup(res.text, 'html.parser')

In [ ]:
# res = requests.get('https://news.naver.com/main/list.naver?mode=LPOD&mid=sec&oid=001',
#                    params={
#                        'date' : '20250706',
#                        'page':1,
#                    })
# res.status_code
# soup = BeautifulSoup(res.text, 'html.parser')

In [64]:
articles = soup.select('ul[class^="type06"] li')
len(articles)

20

In [43]:
result = []
for article in articles:
    a_tags = article.find_all('a')
    # if len(a_tags) == 2:
    #     a_tags[1]
    # else:
    #     a_tags[0]
    title = a_tags[-1].text.strip()
    content = article.select_one('.lede').text
    result.append({
        'title':title,
        'content':content
    })
result

[{'title': '푸틴 "서방, 반러시아 정책 추구하느라 내부 문제 악화"',
  'content': '최인영 특파원 = 블라디미르 푸틴 러시아 대통령은 6일(현지시간) 서방 국가들이 내부적으로 많은 문제를 안고 있는데도 반러시아  …'},
 {'title': '美재무 "협상 진전없는 국가들은 8월 1일부터 상호관세 재부과"',
  'content': '김동현 특파원 = 미국의 무역 협상을 이끄는 스콧 베선트 재무부 장관은 협상에 진전이 없는 국가들에는 그동안 유예해온 상호관세를 …'},
 {'title': '난민에 국경 잠그는 유럽…상반기 망명신청 23％↓',
  'content': '독일 강경책에 도미노…우파 정치인들, 난민 자경단 두둔 김계연 특파원 = 유럽 각국에 반이민 정서가 확산하는 가운데 올해 유럽에 …'},
 {'title': '예멘 반군 "텔아비브 공항에 미사일"…이스라엘군 "요격"(종합)',
  'content': '예멘 인근 홍해서 상선, 소형 선박 총기·수류탄 공격 받아 유현민 특파원 = 예멘의 친이란 반군 후티가 6일(현지시간) 이스라엘 …'},
 {'title': "블랙핑크 완전체에 8만명 핑크빛 물결…폭염 뚫고 '뛰어!'",
  'content': "1년 10개월 만 월드투어 '데드라인' 출발…신곡 '뛰어' 첫 무대 3만9천명씩 이틀 공연 매진…히트곡·'아파트' 등 솔로 무대 …"},
 {'title': '은퇴식 치르는 두산 김재호, 선발 출전 후 교체',
  'content': '(서울=연합뉴스) 6일 서울 잠실야구장에서 열린 프로야구 KBO리그 KT 위즈와 두산 베어스의 경기. 이날 은퇴식을 치르는 두산 …'},
 {'title': '내란특검, 尹 구속영장…사후계엄문건·비화폰 등 증거인멸 방점(종합2보)',
  'content': "수사 개시 3주도 안 돼 정점 겨냥 '승부수'…외환 혐의는 제외…8∼9일께 심문 전망 체포 저지·비화폰 삭제·국무위원 계엄심의권 …"},
 {'title': '金총리, 의료계와 만남 추진…전공의·의대생 대표도 함께',
  'content': '정부 측 "의료계와의 만남 필요성 공감대…일정 검토 중" 김잔디 황윤기 기자 = 새 정부가 전공의, 의대생 등 의정갈등 당사자와 …'},
 {'title': '옥스퍼드대 도서관 소장 19세기 한국어 동사 활용 문법서',
  'content': "영국 옥스퍼드대 보들리언 도서관이 소장한 1896년 한국어 동사 활용 문법서 '동사 하다의 종결형'(Terminations of …"},
 {'title': "영국도서관 소장 '옥계사'",
  'content': "영국도서관이 소장한 18세기 문학 모임의 활동상을 담은 문헌 '옥계사'(玉溪社). 2025.7.6 [영국도서관 제공. 재판매 및 …"},
 {'title': '임플란트 심은 KIA, 1위 한화와 전반기 마지막 3연전(종합)',
  'content': '백업 맹활약 앞세워 6월 14일 이후 승률 0.765윤영철∼양현종∼네일, 독수리 둥지서 문동주∼엄상백∼황준서와 대결홈런을 때리고 …'},
 {'title': '옥스퍼드대 도서관 소장 19세기 한국어 동사 활용문법서',
  'content': "영국 옥스퍼드대 보들리언 도서관이 소장한 1896년 한국어 동사 활용 문법서 '동사 하다의 종결형'(Terminations of …"},
 {'title': '주영문화원, 영국도서관 실사 방문',
  'content': "선승혜 주영한국문화원장이 영국도서관에서 전시품을 살펴보고 있다. 주영한국문화원은 오는 17일(현지시간)부터 열리는 전시 '염화미 …"},
 {'title': '결승타 친 유강남, 김태형 감독과 하이파이브',
  'content': '(광주=연합뉴스) 조남수 기자 = 6일 광주기아챔피언스필드에서 열린 프로야구 롯데 자이언츠와 KIA 타이거즈의 경기. 롯데 김태 …'},
 {'title': '승리 하이파이브 하는 김태형 감독',
  'content': '(광주=연합뉴스) 조남수 기자 = 6일 광주기아챔피언스필드에서 열린 프로야구 롯데 자이언츠와 KIA 타이거즈의 경기. 롯데 김태 …'},
 {'title': '옥스퍼드대 보들리언 도서관 소장 18세기 한국 세계지도',
  'content': "영국 옥스퍼드대 보들리언 도서관이 소장한 18세기 실학자 안정복의 '영고양계요동전도'(Map of the World in Kor …"},
 {'title': "영국도서관 소장 '옥계사'",
  'content': "영국도서관이 소장한 18세기 문학 모임의 활동상을 담은 문헌 '옥계사'(玉溪社). 주영한국문화원은 오는 17일(현지시간)부터 열 …"},
 {'title': "쾅·쾅·쾅·쾅 '홈런쇼' 한화, 33년 만에 전반기 1위 확정(종합)",
  'content': '유강남 역전 2루타 롯데, KIA에 설욕…LG, 삼성 잡고 4연패 탈출NC 라일리, 다승 공동 선두…두산 김재환, 역전 스리런  …'},
 {'title': '롯데 승리 하이파이브',
  'content': '(광주=연합뉴스) 조남수 기자 = 6일 광주기아챔피언스필드에서 열린 프로야구 롯데 자이언츠와 KIA 타이거즈의 경기. 롯데 선수 …'},
 {'title': '옥스퍼드대 소장 19세기 한국어 문법서 연구한 사서와 한국문화원장',
  'content': "19세기 한국어 동사 활용 문법서 '동사 하다의 종결형'을 연구한 하니 라일리 옥스포드대 위클리프홀 도서관장 겸 얀튼매너 라니어 …"}]

### 250703_adv