In [1]:
%pip install pymysql

Collecting pymysql
  Using cached PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Using cached PyMySQL-1.1.1-py3-none-any.whl (44 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1
Note: you may need to restart the kernel to use updated packages.

WARNING: Error parsing dependencies of ipython-genutils: [Errno 2] No such file or directory: 'c:\\users\\guddk\\anaconda3\\lib\\site-packages\\ipython_genutils-0.2.0.dist-info\\METADATA'
WARNING: Error parsing dependencies of jupyter-highlight-selected-word: [Errno 2] No such file or directory: 'c:\\users\\guddk\\anaconda3\\lib\\site-packages\\jupyter_highlight_selected_word-0.2.0.dist-info\\METADATA'

[notice] A new release of pip is available: 24.3.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
import pymysql

In [ ]:
# 실습 PyMySQL

In [2]:
envs = {}
with open(".env", "r") as f:
    for line in f.readlines():
        key, value = line.rstrip().split("=")
        envs[key] = value

In [3]:
db_config = {}

for k, v in envs.items():
    if 'DB' not in k:
        continue
    k = k.split('_')[1].lower()
    if k == 'port':
        v = int(v)
    db_config[k] = v

conn = pymysql.connect(**db_config)

In [5]:
with conn.cursor() as cur:
    result = cur.execute(
        'INSERT INTO students (Name, Email, Phone,Major) VALUES (%s,%s,%s,%s);',
        ('ahyung','guddk18@naver.com','010-0000-0000','게임')
    )
conn.commit()

In [7]:

with conn.cursor() as cur:
    result = cur.executemany(
        'INSERT INTO students (Name, Email, Phone,Major) VALUES (%s,%s,%s,%s);',
        [('zero','zero@naver.com','010-0000-0000','바이오'),('Joe','Joe@naver.com','010-0000-0000','국어교육'),('abcd','abcd@naver.com','010-0000-0000','건축학과'),(
    'qwer','qwer@gmail.com','010-0000-0000','생명공학')]
    )
conn.commit()

In [11]:
import pymysql.cursors


with conn.cursor(cursor=pymysql.cursors.DictCursor) as cur:
    result = cur.execute('SELECT * FROM students')
    datas = cur.fetchall()
datas

[{'StudentID': 1,
  'Name': 'ahyung',
  'Email': 'guddk18@naver.com',
  'Phone': '010-0000-0000',
  'Major': '게임'},
 {'StudentID': 2,
  'Name': 'zero',
  'Email': 'zero@naver.com',
  'Phone': '010-0000-0000',
  'Major': '바이오'},
 {'StudentID': 3,
  'Name': 'Joe',
  'Email': 'Joe@naver.com',
  'Phone': '010-0000-0000',
  'Major': '국어교육'},
 {'StudentID': 4,
  'Name': 'abcd',
  'Email': 'abcd@naver.com',
  'Phone': '010-0000-0000',
  'Major': '건축학과'},
 {'StudentID': 5,
  'Name': 'qwer',
  'Email': 'qwer@gmail.com',
  'Phone': '010-0000-0000',
  'Major': '생명공학'}]

In [4]:
# 이메일 수정
with conn.cursor() as cur:
    sql = "UPDATE Students SET Email=%s WHERE StudentID=%s"
    cur.execute(sql,('pymysql@python.org',1))
conn.commit()

In [6]:
# DB에서 삭제
with conn.cursor() as cur:
    cur.execute("DELETE FROM students WHERE StudentID = %s", 1)
conn.commit()

### db_250710

In [ ]:
# 4
# company_py_db 라는 데이터베이스를 생성하고,
# company_db와 동일한 테이블 상태가 되도록 pymysql을 사용해보세요.
# faker 라이브러리를 활용해 데이터를 2000개의 삽입한 뒤,
# 앞에서 수행한 3번에 대한 문제를 해결해보세요.

In [ ]:
# %pip install pymysql faker

Requirement already satisfied: pymysql in c:\users\guddk\anaconda3\lib\site-packages (1.1.1)
Collecting faker
  Downloading faker-37.4.0-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: tzdata in c:\users\guddk\anaconda3\lib\site-packages (from faker) (2024.2)
Downloading faker-37.4.0-py3-none-any.whl (1.9 MB)
   ---------------------------------------- 0.0/1.9 MB ? eta -:--:--
   ------------------------------------- -- 1.8/1.9 MB 10.1 MB/s eta 0:00:01
   ---------------------------------------- 1.9/1.9 MB 8.3 MB/s eta 0:00:00
Installing collected packages: faker
Successfully installed faker-37.4.0
Note: you may need to restart the kernel to use updated packages.

WARNING: Error parsing dependencies of ipython-genutils: [Errno 2] No such file or directory: 'c:\\users\\guddk\\anaconda3\\lib\\site-packages\\ipython_genutils-0.2.0.dist-info\\METADATA'
WARNING: Error parsing dependencies of jupyter-highlight-selected-word: [Errno 2] No such file or directory: 'c:\\users\\guddk\\anaconda3\\lib\\site-packages\\jupyter_highlight_selected_word-0.2.0.dist-info\\METADATA'

[notice] A new release of pip is available: 24.3.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pymysql

envs = {}
with open(".env", "r") as f:
    for line in f.readlines():
        key, value = line.rstrip().split("=")
        envs[key] = value

db_config = {}

for k, v in envs.items():
    if 'DB' not in k:
        continue
    k = k.split('_')[1].lower()
    if k == 'port':
        v = int(v)
    db_config[k] = v

conn = pymysql.connect(**db_config)

In [3]:
with conn.cursor() as cur:
    cur.execute("""
        CREATE TABLE tb_employee (
            id INT AUTO_INCREMENT,
            name VARCHAR(255),
            position VARCHAR(255),
            hire_date DATE,
            is_active BOOLEAN,
            PRIMARY KEY (id)
        );
    """)
    cur.execute("""
        CREATE TABLE tb_department (
            id INT AUTO_INCREMENT,
            name VARCHAR(255),
            created_at DATETIME,
            PRIMARY KEY (id)
        );
    """)
    cur.execute("""
        CREATE TABLE tb_project (
            id INT AUTO_INCREMENT,
            name VARCHAR(255),
            start_date DATE,
            is_finish BOOLEAN,
            PRIMARY KEY (id)
        );
    """)

conn.commit()

In [ ]:
from faker import Faker
fake = Faker('ko_KR')
departments = ['개발', '기획', '디자인', '마케팅', '인사']